.opt_address_cage{
    border: 1px dashed #ababab;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #fafafa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.batch-approval-list-row {
    padding: 0 24px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f5f5f5;
}
.setmargin{
    margin-right: 10px !important ;                              ;
}

.message{
    color: #2775db!important ;
    font-size: 14px!important ;
}
.p10 {
    width: 10%!important ;
}
.p40 {
    width: 40%!important ;
}

.p25 {
    width: 25%!important ;
}
.p15 {
    width: 15% !important ;
}

.mat-content {
    display: unset !important ;
}

.mat-expansion-panel {
    background: #e3f2fd !important ;
}
.mat-accordion .mat-expansion-panel .mat-expansion-panel-body .mat-expansion-panel {
    background-color: rgb(230, 157, 157);
}

.container {
    width: 100% !important ;
}

.mleft{
    margin-left: -12px !important ;
    margin-bottom: -16px;
}
.mleft11{
    margin-left: -12px !important ;
}

.ml2{
    margin-left: -80px !important ;
}

.mleft2{
margin-left: 10px!important ;
}

.mleft3{
    margin-left: 20px!important ;
}

.mleft4{
    margin-left: -10px !important ;
}

.mbtm{
    margin-bottom: -22px;
}

.mat-button-toggle-checked {
    background-color: #4bb3fa;
    color: rgb(255, 255, 255);
}

.mat-expanded {
    overflow: auto !important ;
}