@import 'colors';


// Typograrephy
$font-family-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$font-family-serif: 'Roboto Slab', 'Times New Roman', serif !default;
$font-family-rubik:  'Rubik', sans-serif;

$opt-color_black: #000;


$prefix :'opt_';

$white-icon: $opt-color_black;
$plain: $opt-color_black;
$circle_icon: #f0f6fa;
$icon_dark: #bfb39f;
$icon_darker: #af9484;


//status colors..............
$no-color--state: #f4493c;
$active-color--state: $green-700 !default;
$mute-color--state: $grey-700 !default;
$firm-color--state: $blue-700 !default;
$alert-color--state: $yellow-700 !default;
$definite-color--state: $blue-grey-700 !default;
$quote-color--state: $brown-700 !default;
$success-color--state: #07c255;
$red-danger:$no-color--state;
$success_action :$success-color--state;
$success_action_new: #96e879;
$refund_status : #fb7109;
$refund_status_darker : #ff3818;


//<! OPT_ALERT>===================================================================================================
//$warning: $yellow-600;
//$success : $teal-400;

$opt_color__primary :$success-color--state;
$opt_color__secondary :#27bfc2;

//<! TO be removed>===============================================================================================
$ci-bg--color:red;
$ci-col-hover:green;
$primary:blue;


// Typography
$font-family-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$font-family-serif: 'Roboto Slab', 'Times New Roman', serif !default;
$font-family-rubik:  'Rubik', sans-serif;


//button colors----------------------
$btn-active-color:$active-color--state;
$btn-frozen-color:$no-color--state;

//Border line color.........................................
$opt-border-color: #e0e0d9;
$opt-border-color_light: #d9d9d9;
$opt-border-color_darker: $grey-600;
$opt-border-color_darkest: #77818a;
$opt-border-color_lighter: #b7b7b7;
$table_border: #b9a7f3;
$table_border_secondary : #d7d7eb;


//button colors..............
$opt-btn-color-default : #91a0ad;







$accent:#2196F3 !default;
$central-brand-primary :red;
$white-color:#fff;
$fab:#7a8aea;
$btn-disabled:#c8c8c8;
$icon-font--color:$opt-text-color__secondary;

$lbl-vat--color:#eee !default;
$lbl__price-details:#90a4ae;


$package-color--product: #c21686;
$package-color--type: #f5c70e;

//text colours..............................................
$opt-text-color__primary:#909cac;
$opt-text-color__secondary:#3a424d;
$opt-text-color__tertiary:#27bfc2;
$opt-text-color__quaternary:#4bb3fa;
$opt_color_type: $success-color--state;



//======================================================
//                    NEW
//======================================================
//optimo brand and color codes .....................

$opt_color_primary :#673AB7;
$opt_color_secondary :#E91E63;
$opt_color_tertiary :#FF5722;
$opt_color_quaternary :#333e47;

//Link Colours..............................................
$opt-link-color__primary:#3a424d;
$opt-link-color__secondary:$opt_color_tertiary;
$opt-link-color: #534a30;


//==========Text Colors================
$opt_text_color_primary: #909cac;
$opt_text_color_secondary : $opt_color_tertiary;
$opt_text_color_tertiary: #3a424d;
$opt_text-color_quaternary: $opt_color_secondary;
$opt_text_color_error : #af564e;
$opt_text_color: #6f6f6f;


$badge-success-bg: $opt_color_tertiary;

/* Business Colors */
$status-hover-font-color: #fff;
$cancelled-status: #000;
$confirmed-status: yellow;
$confirmed-multiple: blue;
$provisional: red;
//$warning: purple;
$tentative: brown;
$provisional-multiple:grey;





/*$opt_color_footer :#454f58;*/



//========== Status colors=================
$opt_status_confirmed : $opt_color_secondary;
$opt_status_cancelled : #f5766c;
$opt_status_confirmed-multiple:#607d8b;
$opt_status_provisional : #00bcd4;
$opt_status_warning :#ff9800;
$opt_status_tentative :#673ab7;
$opt_status_provisional_multiple: #b0064f;
$opt_status_good_availability : #dcdc4d;
$opt_status_few_availability : #6b0412;





//=========Button Colors=================
$opt_color_btn_default:$opt_color_white;
$opt_color_btn_active:$opt-color_primary;
$opt_color_btn_disabled:#ebebeb;
$opt_color_btn_outline : #91a0ad;
$opt_color_icon_font:$opt_text_color_tertiary;
$opt_color_fab: $opt_color_accent;
$opt_color_mini_fab: $opt_color_secondary ;
$opt_color_frozen : $opt_status_cancelled;


//Border line color.........................................
$opt-border-color:#e0e0e0;
$opt_border_color_default: $opt-color_black;
$opt_border-color_tertiary: #ddd;


//---Font Awesome variable--
$fa-font-path: "./shared/theme/ccs-default-theme/font/font-awesome/fonts";

// Variables from classes
//$danger_color : #f5766c;
//$success_color : #26a69a;
//$plain_color : white;


/* Booking Summary */
$badge-danger-bg : #D1C4E9;
//$badge-success-bg : #27bfc2;
$badge-default-bg : #fff;
$badge-undefined-bg : #909cac;
$badge-font-color : #fff;
$badge-font-color_danger : #b6605a;
$badge-middle-color: $opt_color_secondary;
$unavailable-state-bg : $opt_color_secondary;
$unavailable-state-dark-bg :$opt_status_tentative;

$default-state-bg : $grey-100;
$default-state-dark-bg : $grey-200;

$default_mat_icon_color: #d0d4db;
$separator-border-color: $opt-border-color;
$icon-color: #8b8876;
$chip_set_default: #47463e;


$summary_themed_color: $teal-900;

$primary-theme-font : $opt_color__primary;
$secondary-theme-font : $opt_color__secondary;

//Header and Summary Header
$central-header: $central-brand-primary;
$central-header-content-color: $white-color;
$central-summary-header: #f9f9f9;
$central-content-body-color: $white-color !default;

$central-page-summery-lbl-border-color: #d6d6d6 !default;

$font-color:#66615b !default;


/* End of Booking Summary*/

/*Floating Action Buttons */
$fab-cancel-state : purple;
$fab-payment-state : purple;
$fab-task-state : purple;
$fab-refund-state : purple;
$fab-invoice-state : purple;
$fab-toggle-bg: purple;
/* End of Floating Action Buttons */

$booking_summary_color: $opt_text_color_primary;

$popup_heading_color : $opt_color_tertiary;
$popup_icon_color : $opt-text-color__secondary;
$icon_color_darker: #393c41;
$popup_main_icon: $opt_color_black;

$background-color_light: #e8eff6;
$light_background: $purple-50;
$lighter_background: #fafafa;
$light_background_header: $purple-200;
$background-color: #e3e3e3;
$dark_background: #011047;
$background-color_hover_default: #453e41;
$background-color_hover: #9703f4;
$expansion_header_color: #f0f1e8;
$expansion_header_secondary: #f4f4f4;
$table_background-color: #feeffd;
$liner_gradient_background: #e7e9ff;
$loader_background_color: #c94af9;

$floating_button: #4a4355;

$lbl-vat--color:#eee;
$lbl__price-details:#90a4ae;

$chip_default_color: #2f3444;


$opt_line_default: #332e22;
