@import "variables";

.opt_alert{

  //$danger_color : #f5766c;
  //$success_color : #26a69a;
  //$plain_color : white;

  border-radius: 5px;

  .opt_flex__item{
      display: flex;
    }

    &_container{

      padding: 8px;
      //background-color: #f5766c;
      min-height: 80px;
      width: 100%;
      display: flex;
      color: $plain;

      &.__success {
        background-color: $success_action_new;
      }
      &.__error {
        background-color: $opt_color_tertiary;
      }
      &.__warning-alert {
        background-color: $red-danger;
      }


      .verticalLine {
        border-right: thin solid $plain;
        .opt_alert--icon {
          display: flex;
          >.material-icons {
            align-self: center;
            height: 100%;
            color: $plain;
            font-size: 55px;
            padding: 0 10px 0 5px;

          }
          //  .close {
          //    align-self: self-start;
          //    color: white;
          //    font-size: 30px;
          //  }
        }

      }
      .opt_close--icon{
        //align-self: self-start;
        .btn-icon{
          color: $white-icon;
          //font-size: 30px;
        }
      }


      .text-content{
        padding-left: 20px;
        align-self: center;
        color: $plain;
        .text1{
          font-size: 20px;
          white-space: normal !important;
          line-height: 20px;

        }
        .text2{
          padding-top: 5px;
          white-space: normal !important;

        }
      }
    }


  }
.opt-toast-message{
  button{
    border:none !important;
  }
  .btn-error{
    background-color: $red-danger;
    color: #ffffff !important;
    &:hover{
      background-color: $red-danger !important;
    }
  }
  .btn-warning{
    background-color: $opt_color_tertiary;
    color: #ffffff !important;
    &:hover{
      background-color: $opt_color_tertiary !important;
    }
  }
  .btn-success{
    background-color: $success_action;
    color: #ffffff !important;
    &:hover{
      background-color: $success_action !important;
    }
  }
}



