.opt_alert{

  $danger_color : #f5766c;
  $success_color : #26a69a;
  $plain_color : white;

  border-radius: 5px;

  .opt_flex__item{
      display: flex;
    }

    &_container{
      &.__success {
        background-color: $success_color;
      }
      &.__danger {
        background-color: $danger_color;
      }
      padding: 20px;
      //background-color: #f5766c;
      min-height: 80px;
      width: 100%;
      display: flex;

      .verticalLine {
        border-right: thin solid $plain_color;
        .opt_alert--icon {
          display: flex;
          >.material-icons {
            align-self: center;
            height: 100%;
            color: $plain_color;
            font-size: 55px;
            padding-right: 20px;

          }
          //  .close {
          //    align-self: self-start;
          //    color: white;
          //    font-size: 30px;
          //  }
        }

      }
      .opt_close--icon{
        //align-self: self-start;
        .btn-icon{
          color: $plain_color;
          //font-size: 30px;
        }
      }


      .text-content{
        padding-left: 20px;
        align-self: center;
        color: $plain_color;
        .text1{
          font-size: 20px;
          white-space: normal !important;
          line-height: 20px;

        }
        .text2{
          padding-top: 5px;
          white-space: normal !important;

        }
      }
    }


  }




