.opt {
  &_counter {
    .mat-raised-button {
      min-width: 20px !important;
      line-height: 20px !important;
      background-color: #e3e3e3;
      box-shadow: none;
      border: 1px solid #ccc;
      padding: 0 6px;
      box-shadow: none !important;
      color: white;

      &:hover {
        color: #454545;
      }

    }
    input.mat-input-element {
      text-align: center !important;
    }

  }


  &_counter__item {

    width: 45px;

  }

  &_expand--container {
    width: 100%;

    >.row{


      >[class^='col-']{

        min-height: 55px;
        @include flexbox();
        .opt_flex--container{
          width: 100%;
        }

      }
    }

    .mat-form-field-wrapper {
      margin-left: 1px;
      margin-right: 1px;
    }

    .mat-form-field-infix {
      width: 30px;
      text-align: center;

    }
  }

  &_booking__detail {


.__date--cage{

  padding-left: 15px;

  @include respond-to('small') {
    padding-left: 15px;
  }

  @include respond-to('medium') {
    padding-left: 0px;
  }
  @include respond-to('large') {
    padding-left: 0px;
  }

}

    .mat-accordion{

      >.mat-expansion-panel{
        border-left: 4px solid #fff;

      }


      .mat-expansion-panel{

        //border-left: 4px solid red;

        &.opt-expand--line.mat-expanded{
          border-left: 4px solid #4bb3fa;
        }


        .mat-expansion-panel-body{
          padding: 0px;

          .__multi-buttons{
            padding-left: 50px;
          }

          .__include-package_line{
                  border-top:1px solid #d9d9d9;
                }

          .__new-items_line{
            border-top:1px dashed #4bb3fa;
          }




        }
      }
    }


    .__time--cage{




      @include respond-to('small') {
        padding-right: 40px;
        text-align: right;

      }

      @include respond-to('medium') {
        padding-right: 0px;
        text-align: right;

      }
      @include respond-to('large') {

        padding-right: 0px;
        text-align: left;
      }



    }

    mat-accordion {
      .mat-expansion-panel-header[aria-disabled=true] {
        color: inherit;
      }
      .mat-expansion-panel-header {
        padding: 0px;
        margin-left: 4px;
        margin-right: 4px;






        @include respond-to('small') {
          min-height: 110px;
          height: 110px !important;

        }

        @include respond-to('medium') {
          min-height: 110px;
          height: 110px !important;

        }
        @include respond-to('large') {

          min-height: 55px;
          height: 55px !important;
        }



        > .row {

          > [class^='col-'] {

            min-height: 55px;
            @include flexbox();
            .opt_flex--container {
              width: 100%;
            }

          }

        }
      }
    }

    .icon__cage {
      width: 55px;


      &.__min{
        width: auto;
        height: auto;
        min-width: 25px;
      }

      .mat-checkbox-layout {
        margin-left: 15px;
      }

    }

    .mat-input-element {
      text-align: right;
    }

    .mat-input-wrapper {
      &.mat-form-field-wrapper {
        padding-bottom: 0px !important;
      }

    }
    .mat-input-infix {
      .mat-form-field-infix {
        padding: 0px !important;
        border-top: 1px solid transparent !important;
      }
    }

    .mat-form-field-infix {
      padding: 1px !important;
      border-top: 1px !important;
    }

    .mat-form-field-underline {
      bottom: 0px !important;
    }

    &-checkbox {
      width: 50px;

    }
    &-checkbox_details {
      width: calc(100% - 50px)

    }
    .__item--value{

      @include respond-to('small') {

        padding-left: 15px;
       // background-color: #00acc1;
      }

      @include respond-to('medium') {
        padding-left: 5px;
       // background-color: #00bfa5;
      }
      @include respond-to('large') {
        padding-left: 5px;
       // background-color: rebeccapurple;
      }

    }

    .price--values {


      @include respond-to('small') {
        padding-left: 15px;

      }

      @include respond-to('medium') {
        padding-left: 25px;

      }
      @include respond-to('large') {
        padding-left: 15px;

      }


      .price--value__icon {
        width: 15px;
        padding-left: 5px;
        @include respond-to('x-small') {
          flex: initial;
          width: 23px;
        }
        @include respond-to('medium') {
        }
        @include respond-to('large') {
        }



      }

      .opt__type{


        @include respond-to('small') {
          margin-right: 23px;
        }

        @include respond-to('medium') {
          margin-right: 23px;
        }
        @include respond-to('large') {
          margin-right: 23px;
        }

      }

      .price--value__input {
        width: 100px;
        font-weight: 500;

        .mat-form-field {
          width: 100%;

          .mat-input-element {
            font-weight: 500;
            font-size: 16px;
          }
        }

      }
    }

  }

  &_expand__header {

    padding-left: 0px !important;
    min-height: 55px;

    .row {
      width: auto;
    }

  }



}
.action__button {
  flex: 1;


  @include respond-to('x-small') {
    flex: 0 1 auto;
    }
  @include respond-to('large') {
    flex: 0 1 auto;
    }

  @include respond-to('xx-large') {
         text-align: right;
       }

}




.lbl {

  &.lbl__vat {
    background-color: $lbl-vat--color;
    border-radius: (3px);
    font-size: 12px;
    padding: 2px 5px;
    line-height: 1.2px;
    font-weight: 500;
  }
}

.loadding--cage {
  margin-left: -15px;
  margin-right: -15px;
}

.mat-expansion-panel-body{


  &.__inner_body{
    padding: 0px;
  }

  .expansion-panel_body{



    .__data{

      min-height: 55px;

      >.row{
        height: 55px;

      }

      &.separator__line--dotted{
        border-top: 1px dashed #d9d9d9;
      }


    }

  }


}




