@import "variables";

.opt_package-convert-popup{
   .opt_package-convert-body{
       .note-wrapper{
        .package-convert-note-row{
            padding: 24px;
        }
        .approval-note-message{
            display: flex;
            align-items: center;
            padding-left: 24px;
            color: #b71c1c;
            border: 1px solid #b71c1c;
            border-radius: 5px;
            margin-bottom: 40PX;
            margin-top: 10px;
            min-height: 50px;
            height: auto;
            background-color: #ffebee;
        }

       }
   }
} 

