@import "variables";

.booking-main-tab-group{
  .mat-tab-labels{
    .mat-tab-label{
      flex-grow: 1;
      background-color: $background-color;
      padding: 35px 24px;
      &:not(.mat-tab-disabled){
        &.mat-tab-label-active{
          background-color: $opt_color_white;
        }
        &:focus{
          background-color: $opt_color_white;
        }
      }
    }
  }

  .mat-tab-body{
    .mat-tab-body-content{
      overflow: hidden;
    }
  }

  .mat-ink-bar{
    display: none;
  }
}

  .mat-menu-panel{
    &.mat-tab-label-menu {
      min-width: auto;
      max-width: 80px;
      .mat-menu-content{
        padding: 0;
      }
    }
  }


.mat-button{
  &.mat-tab-label-button{
    background-color: $opt_color_tertiary;
    min-width: unset;
    padding: 7px;
    border-radius: 0;
    i{
      font-size: 55px;
      color: $opt_color_white;
    }

  }
}

.mat-tab-label-menu{
  .mat-menu-item{
    line-height: 1;
    height: auto;
    text-align: center;
    padding: 0 5px;
    min-height: 70px;
    color: $opt_border_color_default;
    .mat-menu-item-icon{
      padding-bottom: 5px;
    }
    .mat-menu-item-label{
      overflow: hidden;
      white-space: normal;
      text-transform: uppercase;
      font-size: 12px;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      width: 2px;
      top: 0;
      bottom: 0;
      background-color: transparent;
      transition: all 0.2s ease-in-out;
    }
    &:hover{
      background-color: $opt_color_white;
      &:before{
        background-color: $opt_color_primary;
        transition: all 0.2s ease-in-out;
      }
      .mat-menu-item-icon{
        i{
          color: $opt_color_primary;
          transition: all 0.2s ease-in-out;
        }
      }
      .mat-menu-item-label{
        color: $opt_color_primary;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
.cancel-booking-btn{
    align-items: center;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #bfbfbf;
    button{
        //height: 40px;
        //width: 40px;
        background-color: #fff !important;
        border: 1px solid #f5766c;
        color: #f5766c;
        margin-left: 15px;
        margin-right: 15px;
        font-size:12px;
        height: 23px;
        line-height: 8px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px !important;
        &:hover{
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) !important;
            background-color: #f5766c !important;
            color: #fff !important;
        }
        i{
            font-size:24px !important;
        }
    }
}
.header-booking-col{
    background-color: #fff;
    border-bottom: 1px solid #bfbfbf;
}
.header-approve-col{
    background-color: #fff;
    border-bottom: 1px solid #bfbfbf;
    display: flex;
    padding-right: 15px;
    justify-content: flex-end;
    i{
        margin-right:2px;
    }
    .approval-text{
        margin-right:10px;
    }
    button{
        margin-left:5px;
    }
}
.header-status-col{
    background-color: #fff;
    border-bottom: 1px solid #bfbfbf;
    min-width:100px;
    justify-content: center;
    display: flex;
    i{
        color:#909cac;
    }
}
