.mat-expansion-indicator{
  background-color: rgb(39, 191, 194);
  padding: 4px 10px 8px;
  border-radius: 50%;
}

.mat-expansion-indicator:after{
  border-color: #fff;
}

.mat-horizontal-stepper-header{
  height: auto !important;

  &.mat-step-header{
    width: 100px;
    &:hover{
      background-color: transparent;
    }
  }

  .mat-step-icon {
    display: none;
  }
  .mat-step-icon-not-touched{
    display: none;
  }
  .mat-step-header-ripple {
    &.mat-ripple{
      display: none;
    }
  }
}

.mat-expansion-panel{
  .mat-horizontal-stepper-header-container{
    padding-bottom: 15px;
  }
  &.shaded{
    background-color: #f9f9f9;
    .mat-horizontal-stepper-header-container{
      background-color: #f9f9f9;
    }
    .mat-horizontal-content-container{
      background-color: #f9f9f9;
    }
  }
}

.activity-avatar-wrapper{
  border-radius: 50%;
  padding: 13px 0;
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background-color: #f6f6f6;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  i{
    font-size: 40px;
    color: #909cac;
  }

}

.activity-availability{
  color: #909cac;
  font-size: 11px;
}
.mat-step-label-selected{
  &.mat-step-label-active{
    .activity-avatar-wrapper{
      background-color: #4db4fa;
      i{
        color: #fff;
      }
    }
  }
  .activity-title{
    color: #4db4fa;
    font-size: 15px;
    font-weight: 500;
  }
}
.activity-title{
  color: #909cac;
  font-size: 15px;
  font-weight: 500;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mat-expansion-panel-body{
  .mat-horizontal-content-container {
    padding: 15px 24px;
    border-top: 2px solid #dce0e1;
    //background-color: #f9f9f9;
    font-size: 13px;
  }
}

.mat-horizontal-stepper-content{
  overflow: visible !important;
}

.horizontally-center{
  display: flex;
  align-items: center;
}

.row{
  width: 100%;
  margin: 5px 0;
}

.info-bk{
  display: block;
  div{

  }
}

@media (max-width: 991px) {
  .mat-horizontal-stepper-header-container{
    flex-wrap: wrap;
    justify-content: center;
  }

  .mat-stepper-horizontal-line{
    display: none;
  }

  .mat-horizontal-stepper-header{
    &.mat-step-header{
      padding: 15px 24px;
    }
  }
}
