@import "variables";

.payment-category-header{
  .mat-form-field-infix{
    border-top: 0;
    padding-top: 0;
  }

  .mat-input-wrapper {
    &.mat-form-field-wrapper{
      margin-bottom: -1.25em;
    }
  }
}


.payment-body-wrapper{
  >.opt_flex--container{

   // flex-direction: column;

    @include respond-to('x-small') {
      flex-direction: column;
    }
    @include respond-to('medium') {
      flex-direction: row;
    }
    >.opt_flex__item{
      &:first-child{
        @include respond-to('x-small') {
          width: 100%;
        }
        @include respond-to('medium') {
          width: 70%;
        }
      }
    }
  }
}

.payment-inner{
  height: 100%;
}
.payment-term-wrapper{
  border-right: 1px solid $opt_border-color_tertiary;

}
.payment-category-header{
  background-color: $central-summary-header;
  padding: 15px;
  border-bottom: 2px solid $opt_border-color_tertiary;
  .payment-category-title{
    font-size: 14px;
    color: $primary-theme-font;
    font-weight: 500;
  }
}

.payment-category-body{
  padding:15px 0 0 0;
 
}

.payment-detail-field{
  margin-bottom: 5px;
  border-bottom: 1px solid $opt-border-color_light;
  &:last-child{
    margin-bottom: 0;
  }
  .payment-schedule{
    min-height: 38px;
    .opt_flex--container{
      .opt_flex__item{
        padding: 0 15px;
        &:nth-child(1), &:nth-child(3), &:nth-child(4){
          text-align: right;
        }
      }
    }
    h5{
      font-size: 13px;
      color: $opt-border-color_darker;
    }
    p{
      font-size: 12px;
      font-weight: 500;
      margin: 0;
    }
    .themed{
      h5, p{
        color: $package-color--product;
      }
    }
  }
  .payment-status{
    padding: 5px 15px;
    min-height: 37px;
    &.unsuccessful{
      background-color: rgba(245,118,108,0.3);
      border-bottom: 1px solid $no-color--state;
      p{
        color: $no-color--state;
        &:last-child{
          color: $no-color--state;
          span{
            color: $opt_line_default;
          }
        }
      }
      .payment-status-inner{
        &:before{
          border-left-color: $no-color--state;
        }
      }
    }
    .payment-status-inner{
      padding: 0 25px 0 20px;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 10px solid $package-color--product;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    p{
      font-size: 14px;
      margin-bottom: 0;
      &:first-child{
        min-height: 18px;
        font-size: 11px;
        font-weight: 500;
      }
      &:last-child{
        font-size: 14px;
        font-weight: 600;
        color: $package-color--product;
        span{
          color: $opt_text_color_primary;
          font-weight: 500;
        }
      }
    }
  }
}

.cancellation-policy-wrapper{
  .cancellation-policy-item{
    padding: 10px;
    border-bottom: 1px dashed $opt-border-color_light;
    p{
      margin: 0;
      color: $booking_summary_color;
      line-height: 1.4;
      span{
        font-weight: 500;
        &.cancellation-period{
          color: $package-color--product;
        }
        &.cancellation-time{

        }
        &.cancellation-policy-pct{
          color: $package-color--product;
        }
      }
    }

    .opt_flex--container{
      .opt_flex__item--inherit{
        width: 40%;
      }
    }
  }
}
