.opt_booking__list_expand{
  $danger_color: #f2705b;
  $plain_color : white;
  $border_color: #b7b7b7;
  $expanded_line: #4bb3fa;
  $line_color: #d9d9d9;

  .opt{

    &_opt_width-define{
      min-height: 55px;
    }
    &_expanded-view{
      margin: 15px;
    }
    &_expand--container {
      width: 100%;
      color: black;

      >.row{


        >[class^='col-']{

          min-height: 55px;
          @include flexbox();
          .opt_flex--container{
            width: 100%;
          }

        }
      }

    }

    &_circle{
      @include circle-icon(40px, $danger_color, $danger_color);
      padding-top: 2px;
      line-height: 12px;
      .date{
        font-size: 14px;
        font-weight: bold;
        color: $plain_color;
      }
      .month_year{
        font-size: 9px;
        color: $plain_color;
        font-weight: normal;
      }
    }


    &_width-calc{
      //position: absolute;
      //left: 80px;
      width: calc(100% - 10px);
      //padding: 5px;
      //text-align: left;
      padding-left: 20px;

    }


    }

  .opt_price-section{
    padding-right: 0;
    text-align: right;

    .price{
      text-align: left;
      padding-left: 15px;
    }
  }

  .mat-expansion-panel-body{
    padding: 0;

    .__multi-buttons{
      padding-left: 50px;
    }

    .__include-package_line{
      border-top:1px solid $line_color ;
    }

    .__new-items_line{
      border-top:1px dashed $expanded_line;
    }
  }

  .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    flex-grow: 0;
    margin-right: 0;

    .btn {
      &.btn-select {
        border: 1px solid $border_color;
        //outline-color: #0000;
        //border-radius: 4px;
        //background-color: $btn-active-color;

        i {
          color: $plain_color;
        }
      }
      &.btn__frozen {
        border: 1px solid $border_color;
        //outline-color: #0000;
        //border-radius: 4px;
        background-color: $btn-frozen-color;

        i {
          color: $plain_color;
        }
      }
    }
  }

  mat-accordion {
    .mat-expansion-panel-header[aria-disabled=true] {
      color: inherit;
    }
    .mat-expansion-panel.opt-expand--line.mat-expanded{
      border-left: 4px solid $expanded_line;
    }
    .mat-expansion-panel-header {
      padding: 0;
      margin-left: 4px;
      margin-right: 4px;

      @include respond-to('small') {
        min-height: 110px;
        height: 110px !important;

      }

      @include respond-to('medium') {
        min-height: 55px;
        height: 55px !important;

      }
      @include respond-to('large') {

        min-height: 55px;
        height: 55px !important;
      }


      > .row {

        > [class^='col-'] {

          min-height: 55px;
          @include flexbox();
          .opt_flex--container {
            width: 100%;
          }

        }

      }
    }
  }


}

//.test{
//  width: 100%;
//  height: 75px;
//}
//
//.test-wrapper{
//  height: 100%;
//}
//
//.test-inner{
//  background-color: red;
//  height: 100%;
//}
//
//.test-inner-expand{
//  background-color: green;
//  height: 100%;
//}
//
//.test-inner-2{
//  background-color: red;
//  height: 100%;
//}

