@import "variables";

.opt_approval-success-popup{
    .opt_approval-success-body{
        .note-wrapper{
.approval-note-message{
    display: flex;
    align-items: flex-start;
    padding-left: 24px;
    color: #004D40;
    border: 1px solid #004D40;
    border-radius: 5px;
    margin-bottom: 40PX;
    margin-top: 10px;
    min-height: 50px;
    height: auto;
    justify-content: center;
    background-color: #E0F2F1;
    flex-direction: column;

>div{
    padding: 5px 0;
}
}

.approval-reject-note-row{
    .mat-form-field{
        width: 100%;
    }
}
        }
    }
    
}