@import "variables";

.booking-summary {
  border-bottom: 1px solid $separator-border-color;
  color: $booking_summary_color;
  .flex-row {
    .col {
      background-color: $default-state-bg;
      &:nth-child(2) {
        border-right: 1px dashed $opt_border-color_default;
        background-color: $default-state-dark-bg;
        border-top: 1px dashed $opt_border-color_default;
      }
      @include respond-to('x-small') {
        flex-direction: column;
      }
      @include respond-to('medium') {
        flex-direction: row;
      }
    }
  }
  &.__unavailable {
    color: $plain;
    .flex-row {
      .col {
        background-color: $badge-danger-bg;
        &:nth-child(2) {
          background-color: $unavailable-state-dark-bg;
        }
      }
    }
    .field-icon{
      color: $plain;
    }
    .details .field .field-icon{
      color: $plain;
    }
    .font-style-01, .font-style-02, .font-style-03, .font-style-04, .font-style-05, .font-style-06, .font-style-07, .font-style-08{
      color: $plain;
    }

    .link.__default{
      color: $plain;
    }

    .btn.btn-icon{
      color: $plain;
    }

    .badge{
      &.__grey{
        background-color: $unavailable-state-dark-bg;
      }
      &.__danger{
         background-color: $plain;
         color: $unavailable-state-dark-bg;
       }
      &.__success{
          background-color: $badge-middle-color;
          color: $plain;
      }
    }

    .valuation{
      .opt_flex--container{
        &.shaded{
          background-color: $unavailable-state-dark-bg;
        }
      }
    }

    .mat-select *{
      color: $plain;
    }
  }

  .details {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    line-height: 28px;
    .flex-horizontal {
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;
      height: 50%;


      &.border-line{
        height: 1px;
        background-color: $separator-border-color;
      }

      &:first-child {
        padding-bottom: 5px;
      }
      &:last-child {
        padding-top: 5px;
      }
    }
    .field {
      .field-icon {
        color: $opt_text_color_tertiary;
      }
    }
    .referrer-label{
      position: relative;
      top:5px;
    }
  }

  .valuation{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    .flex-horizontal{
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;
      height: 50%;
      .field-inner{
        height: 100%;
        flex-grow: 1;
      }
    }

    >.opt_flex--container{
      &:first-child{
        margin-bottom: 5px;
      }
    }
  }
  .mat-select-value {
    color: $opt_text_color_primary ;
  }
  .mat-select-arrow{
    color: $opt_text_color_primary;
  }

}
.booking-status-menu, .icon-text-menu{
  .mat-menu-content{
    padding: 0;
    font-size: 13px !important;
    span{
      font-size: 13px !important;
      padding-left: 5px !important;
    }
  }
}
.mat-select-panel .mat-option{
  height: 40px !important;
}
.mat-option-text{
  @extend .opt-txt__body1;
}
.booking-status-icon{
  display: none;
  i{
    font-size: 18px;
  }
  &.danger{
    i{
      color: $no-color--state;
    }
  }
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  .profile__image {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
    align-items: center;
    padding-right: 15px;
  }
  .profile__details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    flex-grow: 1;
    .telephone-field{
      margin-top: 5px;
    }
  }
}

.vh-center{
  display: flex;
  justify-content: center;
  align-content: center;
}

.field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .field-icon, .field-inner, .field-detail, .field-options {
    align-self: center;
  }
  .field-icon {
    width: 6%;
  }
  .field-inner {
    &:first-child {
      flex-grow: 1;
    }
  }
  .field-detail {
    flex-grow: 1;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > .col {
    flex-grow: 1;
    flex-basis: 0;
    padding: 15px;
    //border-right: 1px solid $separator-border-color;
    border-collapse: collapse;

    &:last-child {
      border-right: none;
    }

    .__colored {
      background-color: $unavailable-state-dark-bg;
    }
  }
}

.typo{
  font-size: 14px;
  font-weight: 400;
  &.sz-11{
    font-size: 11px;
  }
  &.sz-12{
    font-size: 12px;
  }
  &.sz-13{
    font-size: 13px;
  }
  &.sz-15{
    font-size: 15px;
  }
  &.sz-16{
    font-size: 16px;
  }
  &.sz-17{
    font-size: 17px;
  }
  &.sz-18{
    font-size: 18px;
  }
  &.sz-19{
    font-size: 19px;
  }
  &.sz-20{
    font-size: 20px;
  }
  &.light{
    font-weight: 300;
  }
  &.regular{
    font-weight: 400;
  }
  &.bold{
    font-weight: 500;
  }
}

.font-style-01 {
  font-size: 18px;
  font-weight: 500;
  color: $opt_text_color_primary;
}

.font-style-01.__success {
  color: $primary-theme-font;
}

.font-style-02 {
  font-size: 11px;
  font-weight: 400;
  color: $primary-theme-font;
}

.font-style-03 {
  font-size: 11px;
  font-weight: 400;
  color: $opt_text_color_tertiary;
}

.font-style-04 {
  font-size: 13px;
  font-weight: 500;
  color: $opt_text_color_secondary;
}

.font-style-05 {
  font-size: 16px;
  font-weight: 500;
  color: $opt_text_color_secondary;
}

.font-style-06 {
  font-size: 12px;
  font-weight: 400;
  color: $opt_color_quaternary;
}

.font-style-07 {
  font-size: 14px;
  font-weight: 500;
  color: $opt_text_color_tertiary;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  &.__default {
    color: $opt_text_color_secondary;
    font-size: 12px;
    font-weight: 400;
  }
  &.__no-ul {
    text-decoration: none;
  }
}

i {
  &.material-icons {
    vertical-align: middle;
    transform: rotate(0.03deg);
    &.small {
      font-size: 16px;
    }
    &.medium {
      font-size: 18px;
    }
  }
}

.btn {
  &:active, &:focus, &:visited, &:active:focus {
    outline: none;
  }
  &.btn-icon {
    background-color: transparent;
    padding: 0;
    color: $separator-border-color;
    align-items: center;
    box-shadow: none;

    &.mat-icon-button{
      width: auto;
      height: auto;
      line-height: 1.42857143;
    }
  }

  &.btn-taptoadd{
    border: 1px dashed $default_mat_icon_color;
    background-color: transparent;
    border-radius: 50%;
    padding: 10px;

    i.material-icons{
      color: $default_mat_icon_color;
      font-size: 45px;
    }

    &.mini{
      padding: 6px 7px;
      i.material-icons{
        font-size: 18px;
      }
    }
    &.themed{
      border-color: $summary_themed_color;
      i.material-icons{
        color: $summary_themed_color;
      }
    }

  }
}

.tap-to-add-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p{
    color: $opt_text_color_tertiary;
    font-weight: 400;
    margin: 10px 0 0 0;
  }
  &.mini{
    p{
      font-size: 12px;
      margin: 0;
    }
  }
  &.themed{
    p{
      color: $summary_themed_color;
    }
  }
}

.vertical-divider{
  width: 1px;
  background-color: $separator-border-color;
  height: 100%;
}

.badge {
  font-size: 12px;
  font-weight: 400;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 15px;

  &.mini{
    padding: 2px;
    font-size: 12px;
  }

  &.mini-badge{
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 6px;
  }

  &.med-badge{
    font-size: 16px;
    padding: 6px 8px;
  }

  &.__success {
    background-color: $badge-success-bg;
  }

  &.__danger {
    background-color: $badge-danger-bg;
  }

  &.__grey {
    background-color: $badge-undefined-bg;
  }

  &.__uppercase {
    text-transform: uppercase;
  }
}

.mt3{
  margin-top: 3px;
}

.valuation{

  .opt-txt__caption{
    line-height: 1.45;
  }
  .tax-label{
    position: relative;
    bottom: 1px;
  }
  .net-label{
    position: relative;
    top: 5px;
  }
  .opt_flex--container{
    &.parent-width{
      margin: 0 -15px;
      //margin-bottom: 3px;
      padding: 3px 15px;
    }

    &.shaded{
      background-color: $default-state-dark-bg;
    }

    &:first-child{
      .opt_flex__item{
        justify-content: center;
        align-self: center;
      }
    }

    &:last-child{
      .badge{
        position: relative;
        top: 3px;
      }
    }

    .opt_flex__item{
      justify-content: center;
      align-self: center;
      &:nth-child(2){
        text-align: right;
      }
    }
  }
}

.right-spacer-padding{
  padding-right: 5px;
}

.label-icon{
  padding-right: 10px;
}

.opt-booking-summary-select-lg{
  //font-family: $rub;
  .mat-select-value{
    font-size: 18px;
    font-weight: 500;
  }
}

.opt-booking-summary-select-sm {
  &.themed{
    .mat-select-value{
      color: $opt_text_color_secondary;
    }
  }
  &.emphd{
    .mat-select-value{
      font-weight: 500;
    }
  }
  .mat-select-value{
  font-size: 12px;
  font-weight: 400;
  }
}

.booking-status-menu{
  .cancelled{
    color: $red-danger;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $red-danger !important;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .confirmed{
    color: $success_action_new;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $success_action_new !important;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .confirmed-multiple{
    color: $opt_status_confirmed-multiple;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $opt_status_confirmed-multiple !important;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .provisional{
    color:$opt_color_secondary;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color:$opt_color_secondary !important;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .warning{
    //color: $warning;
    color: $opt_status_warning;
    transition: all 0.4s ease-in-out;
    &:hover{
      //background-color: $warning;
      background-color: $opt_status_warning !important;

      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .tentative{
    color: $opt_status_tentative;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $opt_status_tentative !important;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .provisional-multiple{
    color: $opt_status_provisional_multiple;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $opt_status_provisional_multiple !important;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
}

@media (max-width: 991px){
  .flex-row{
    .col{
      flex-basis: 100%;
    }
  }
}
