/* Font Families */
$rub: 'Rubik', sans-serif;

.booking-summary {
  border-bottom: 1px solid $separator-border-color;
  color: #3b414d;
  .flex-row {
    .col {
      background-color: $default-state-bg;
      &:nth-child(2) {
        background-color: $default-state-dark-bg;
      }
    }
  }
  &.__unavailable {
    color: #fff;
    .flex-row {
      .col {
        background-color: $badge-danger-bg;
        &:nth-child(2) {
          background-color: $unavailable-state-dark-bg;
        }
      }
    }
    .field-icon{
      color: #fff;
    }
    .details .field .field-icon{
      color: #fff;
    }
    .font-style-01, .font-style-02, .font-style-03, .font-style-04, .font-style-05, .font-style-06, .font-style-07, .font-style-08{
      color: #fff;
    }

    .link.__default{
      color: #fff;
    }

    .btn.btn-icon{
      color: #fff;
    }

    .badge{
      &.__grey{
        background-color: $unavailable-state-dark-bg;
      }
      &.__danger{
         background-color: #fff;
         color: $unavailable-state-dark-bg;
       }
      &.__success{
          background-color: #f5766c;
          color: #fff;
      }
    }

    .valuation{
      .opt_flex--container{
        &.shaded{
          background-color: $unavailable-state-dark-bg;
        }
      }
    }

    .mat-select *{
      color: #fff;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    height: 100%;
    .flex-horizontal {
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;
      height: 50%;

      .half{

      }

      &.border-line{
        height: 1px;
        background-color: $separator-border-color;
      }

      &:first-child {
        padding-bottom: 5px;
      }
      &:last-child {
        padding-top: 5px;
      }
    }
    .field {
      .field-icon {
        color: #909cac;
      }
    }
  }

  .valuation{
    height: 100%;
    .flex-horizontal{
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;
      height: 50%;
      .field-inner{
        height: 100%;
        flex-grow: 1;
      }
    }

    >.opt_flex--container{
      margin-bottom: 3px;
    }
  }
}

.booking-status-icon{
  i{
    font-size: 18px;
  }
  &.danger{
    i{
      color: #f5766c;
    }
  }
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  .profile__image, .profile__details {

  }
  .profile__image {
    display: flex;
    align-items: center;
    padding-right: 15px;
  }
  .profile__details {
    .telephone-field{
      margin-top: 5px;
    }
  }
}

.vh-center{
  display: flex;
  justify-content: center;
  align-content: center;
}

.field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .field-icon, .field-inner, .field-detail, .field-options {
    align-self: center;
  }
  .field-icon {
    width: 6%;
  }
  .field-inner {
    &:first-child {
      flex-grow: 1;
    }
  }
  .field-detail {
    flex-grow: 1;
  }
  .field-options {
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > .col {
    flex-grow: 1;
    flex-basis: 0;
    padding: 15px;
    //border-right: 1px solid $separator-border-color;
    border-collapse: collapse;

    &:last-child {
      border-right: none;
    }

    .__colored {
      background-color: $unavailable-state-dark-bg;
    }
  }
}

.typo{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  &.sz-11{
    font-size: 11px;
  }
  &.sz-12{
    font-size: 12px;
  }
  &.sz-13{
    font-size: 13px;
  }
  &.sz-15{
    font-size: 15px;
  }
  &.sz-16{
    font-size: 16px;
  }
  &.sz-17{
    font-size: 17px;
  }
  &.sz-18{
    font-size: 18px;
  }
  &.sz-19{
    font-size: 19px;
  }
  &.sz-20{
    font-size: 20px;
  }
  &.light{
    font-weight: 300;
  }
  &.regular{
    font-weight: 400;
  }
  &.medium{
    font-weight: 500;
  }
  &.bold{
    font-weight: 700;
  }
}

.font-style-01 {
  font-family: $rub;
  font-size: 18px;
  font-weight: 500;
  color: #3a424d;
}

.font-style-01.__success {
  color: $primary-theme-font;
}

.font-style-02 {
  font-family: $rub;
  font-size: 11px;
  font-weight: 400;
  color: #3a424d;
}

.font-style-03 {
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #909cac;
}

.font-style-04 {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #27bfc2;
}

.font-style-05 {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #27bfc2;
}

.font-style-06 {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333e47;
}

.font-style-07 {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #909cac;
}

.link {
  font-family: 'Rubik', sans-serif;
  text-decoration: underline;
  cursor: pointer;
  &.__default {
    color: #27bfc2;
    font-size: 12px;
    font-weight: 400;
  }
  &.__no-ul {
    text-decoration: none;
  }
}

i {
  &.material-icons {
    vertical-align: middle;
    transform: rotate(0.03deg);
    &.small {
      font-size: 16px;
    }
    &.medium {
      font-size: 18px;
    }
  }
}

.btn {
  &:active, &:focus, &:visited, &:active:focus {
    outline: none;
  }
  &.btn-icon {
    background-color: transparent;
    padding: 0;
    color: #d3d6d9;
    align-items: center;
    box-shadow: none;

    &.mat-icon-button{
      width: auto;
      height: auto;
      line-height: 1.42857143;
    }
  }

  &.btn-taptoadd{
    border: 1px dashed #d0d4db;
    background-color: transparent;
    border-radius: 50%;
    padding: 10px;

    i.material-icons{
      color: #d0d4db;
      font-size: 45px;
    }

    &.mini{
      padding: 6px 7px;
      i.material-icons{
        font-size: 18px;
      }
    }
    &.themed{
      border-color: #f9d630;
      i.material-icons{
        color: #f9d630;
      }
    }

  }
}

.tap-to-add-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p{
    color: #909cac;
    font-weight: 400;
    margin: 10px 0 0 0;
  }
  &.mini{
    p{
      font-size: 12px;
      margin: 0;
    }
  }
  &.themed{
    p{
      color: #f9d630;
    }
  }
}

.vertical-divider{
  width: 1px;
  background-color: $separator-border-color;
  height: 100%;
}

.badge {
  font-size: 12px;
  font-weight: 400;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 15px;

  &.mini{
    padding: 2px;
    font-size: 12px;
  }

  &.mini-badge{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 6px;
  }

  &.med-badge{
    font-size: 16px;
    padding: 6px 8px;
  }

  &.__success {
    background-color: $badge-success-bg;
  }

  &.__danger {
    background-color: $badge-danger-bg;
  }

  &.__grey {
    background-color: $badge-undefined-bg;
  }

  &.__uppercase {
    text-transform: uppercase;
  }
}

.mt3{
  margin-top: 3px;
}

.valuation{
  .opt_flex--container{

    &.parent-width{
      margin: 0 -15px;
      margin-bottom: 3px;
      padding: 3px 15px;
    }

    &.shaded{
      background-color: $default-state-dark-bg;
    }

    &:first-child{
      .opt_flex__item{
        justify-content: center;
        align-self: center;
      }
    }
    .opt_flex__item{
      justify-content: center;
      align-self: center;
      &:nth-child(2){
        text-align: right;
      }
    }
  }
}

.right-spacer-padding{
  padding-right: 5px;
}

.label-icon{
  padding-right: 10px;
}

.opt-booking-summary-select-lg{
  font-family: $rub;
  .mat-select-value{
    font-size: 18px;
    font-weight: 500;
  }
  .mat-option{
    font-family: $rub;
    .mat-option-text{
      font-family: $rub;
    }
  }
}

.opt-booking-summary-select-sm {
  font-family: $rub;
  &.themed{
    .mat-select-value{
      color: #27bfc2;
    }
  }
  &.emphd{
    .mat-select-value{
      font-weight: 500;
    }
  }
  .mat-select-value{
  font-size: 12px;
  font-weight: 400;
  }
  .mat-option{
    font-family: $rub;
    .mat-option-text{
      font-family: $rub;
    }
  }
}

.booking-status-menu{
  .cancelled{
    color: $cancelled-status;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $cancelled-status;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .confirmed{
    color: $confirmed-status;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $confirmed-status;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .confirmed-multiple{
    color: $confirmed-multiple;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $confirmed-multiple;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .provisional{
    color: $provisional;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $provisional;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .warning{
    color: $warning;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $warning;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .tentative{
    color: $tentative;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $tentative;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
  .provisional-multiple{
    color: $provisional-multiple;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $provisional-multiple;
      color: $status-hover-font-color;
      transition: all 0.4s ease-in-out;
    }
  }
}

@media (max-width: 991px){
  .flex-row{
    .col{
      flex-basis: 100%;
    }
  }
}
