@import "variables";
/* Expansion Panel Button Styles */
.panel-action-btn-icon{
  &.mat-button{
    padding: 3px;
    height: 24px;
    width: 24px;
    min-width: unset;
  }
  i{
    &.material-icons{
      font-size: 18px;
      line-height: 18px;
      padding: 0;
    }
  }
}
.icon-small{
  font-size: 10px !important;
}
.symbol_icon{
  display: inline-block;
  font-size: 16px !important;
  .icon-icn-invoice{
    font-size: 12px !important;
  }
  i{
    font-size: 16px !important;
    &.material-icons{
      line-height: 16px;
      height: auto;
    }
  }
  [class^="icon-"]{
    font-size: 14px !important;
  }
}

.header_row--action-wrapper {
  font-size: 0;
  display: inline-flex;
  .btn-icon-text:hover{
    .opt_color_icon_font{
      color: $opt_color_white !important;
    }
    span{
      color: $opt_color_white !important;
    }
  }
  .mat-button{
    &.btn-icon-text{
      // @include respond-to('x-small') {
      //   min-width: 47px;
      //   padding: 5px;
      //   margin: 5px;
      // }
      // @include respond-to('small') {
      //   min-width: 47px;
      //   padding: 5px;
      //   margin: 5px;
      // }
      // @include respond-to('medium') {
      //   padding: 6px 12px;
      //   margin-right: 10px;
      //   min-width: 88px;
      // }
      // @include respond-to('large') {
      //   padding: 6px 12px;
      //   margin-right: 10px;
      //   min-width: 88px;
      // }


      // &:last-child{
      //   margin-right: 0;
      // }
      span{
        color: $opt-text-color__secondary;
      }
    }

  }
  .mat-icon-button{
    &.btn-icon{
      margin-right: 10px;
    }
  }
}

.aligned_form_field{
  .mat-input-wrapper{
    padding: 0;
  }
  .mat-form-field-underline{
    bottom: -2px;
  }

  .mat-form-field-infix{
    border-top: none;
  }
}

.just-content-end{
  justify-content: flex-end;
}
.just-content-start{
  justify-content: flex-start !important;
}
.just-content-center{
  justify-content: center !important;
}
.unset-wrap{
  flex-wrap: unset !important;
}
.history_list_item{
  padding: 10px 10px;
  border-bottom: 1px solid $opt-border-color;
  .row{
    display: flex;
    [class*=' col-']{
      display: flex;
      align-items: center;
    }
  }
}



/* End of Expansion Panel Button Styles */

.opt_booking__activity {
  .main-padding-top{
    padding-top: 40px;
  }
  .opt-txt__body1-small{
    line-height: 15px;
  }
  .opt-txt__body2-small{
    line-height: 20px;
  }
  .mat-checkbox-inner-container{
    margin-right: 20px;
    margin-left: 10px;
  }
  mat-horizontal-stepper{
    .mat-fab.mat-accent{
      background-color: $background-color_light;
      color: $opt-text-color__secondary;
      height: 65px;
      width: 65px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 34px;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 18px 0 rgba(0, 0, 0, 0.1);
    }
    .mat-step-label:hover{
      .mat-fab.mat-accent{
        transform:translateY(-8px);
      }
    }
    [class^='icon-icn-']{
      font-size: 34px;
    }
  }
  .row {
   flex-grow: 1;
  }

  .mat-horizontal-stepper-header {
    height: auto !important;
    padding: 0px 10px;
    &.mat-step-header {
      width: 111px;
      &:hover {
        background-color: transparent;
      }
    }

    .mat-step-icon {
      display: none;
    }
    .mat-step-icon-not-touched {
      display: none;
    }
    .mat-step-header-ripple {
      &.mat-ripple {
        display: none;
      }
    }
  }

  .mat-expansion-panel {
    background-color: inherit;
    .mat-horizontal-stepper-header-container {
      padding-bottom: 15px;
    }
    &.shaded {
      background-color: $background-color_light;
      .mat-horizontal-stepper-header-container {
        background-color: $background-color_light;
      }
      .mat-horizontal-content-container {
        background-color: #f9f9f9;
      }
    }
    .mat-button-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 23px;
    }
  }

  .activity-avatar-wrapper {
    border-radius: 50%;
    padding: 13px 0;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    background-color: $background-color_light;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    i {
      font-size: 40px;
      color: $opt-text-color__secondary;
    }

  }

  .activity-availability {
    color: $opt-text-color__secondary;
    font-size: 11px;
  }
  .mat-step-label-selected {
    &.mat-step-label-active {
      .activity-avatar-wrapper, .mat-fab.mat-accent {
        background-color: $opt_color_primary;
        i {
          color: $opt_color_white;
        }
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12) !important;
      }
    }
    .activity-title {
      color: $opt_color_primary;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .activity-title {
    color: $opt-text-color__secondary;
    font-size: 14px;
    font-weight: 500;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    min-height: 40px;
  }

  .mat-expansion-panel-body {
    .mat-horizontal-content-container {
      padding: 0;
      //background-color: #f9f9f9;
      font-size: 13px;
    }
  }

  .mat-horizontal-stepper-content {
    overflow: visible !important;
  }

  .horizontally-center {
    display: flex;
    align-items: center;
  }

  .mat-tab-body-content {
    overflow: visible;
  }

  .header-row {
    border-bottom: 2px solid $opt-border-color;
    border-top: 2px solid $opt-border-color;
    background-color: $opt_color_white;
    min-height: 55px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    .mat-checkbox-layout .mat-checkbox-label {
      line-height: 20px;
    }
    .row-block{
      display: block !important;
      @include respond-to('x-small') {
        padding: 10px 0;
      }
      @include respond-to('small') {
        padding: 10px 0;
      }
      @include respond-to('medium') {
        padding: 0;
      }
    }
    .row {
      //display: inline-flex;
      [class*=' col-'] {
        display: flex;
        align-items: center;
      }
    }
    mat-checkbox{
      margin-right:20px;
    }
  }

  .panel-icon {
    display: inline-block;
    padding: 3px;
    font-size: 18px;
    //padding: 10px 0;
  }

  .chck-box {
    width: 20px;
    display: flex;
    align-items: center;
  }

  .des-box {
    width: calc(100% - 40px);
    padding-left:20px;
    .cage_selected {
      margin-left: 20px;
    }

  }

  .half-width{
    width :60px;
  }

  .full-width{
    width: calc(100% - 70px);
  }

  .action-btn {
    justify-content: flex-end;
  }

  .icn-search {
    padding: 0;
    font-size: 16px;
    position: relative;
    top:8px;
  }

  .indicator-icon {
    padding: 0;
  }

  .show-all {
    float: right;
    padding: auto 5px;
    i {
      padding: 0 5px 0 0;
    }
  }

  @media (max-width: 991px) {
    .mat-horizontal-stepper-header-container {
      flex-wrap: wrap;
      justify-content: center;
    }

    .mat-stepper-horizontal-line {
      display: none;
    }

    .mat-horizontal-stepper-header {
      &.mat-step-header {
        padding: 15px 24px;
      }
    }

  }

  .history {
    .text-truncate {

      @include respond-to('x-small') {
        max-width: 110px;
        display: inline-block;
      }
      @include respond-to('small') {
        max-width: 250px;
        display: inline-block;
      }
      @include respond-to('medium') {
        max-width: 345px;
        display: inline-block;
      }
      @include respond-to('large') {
        max-width: 400px;
        display: inline-block;
      }

    }
  }
  .notes {
    .drp-dwn {
      margin-left: 10px;
    }
    .note-search {
      margin-right: 15px;
      position: relative;
      bottom: 2.5px;
      @include respond-to('x-small') {
        max-width: 100px;
      }
      @include respond-to('small') {
        max-width: 100px;
      }
      @include respond-to('medium') {
        max-width: 100%;
      }
    }
    .note_list_item {
      border-bottom: 1px solid $opt-border-color;
      min-height: 50px;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      .opt_flex--container{
        width: 100%;
      }

      .row {
        display: flex;
        width: 100%;
        [class*=' col-'] {
          display: flex;
          align-items: center;
        }
      }
      .text-truncate {
        display: inline-block;
        white-space: normal;
        // @include respond-to('x-small') {
        //   /*max-width: 110px;*/
        // }
        // @include respond-to('small') {
        //   max-width: 300px;
        // }
        // @include respond-to('medium') {
        //   max-width: 450px;
        // }
        // @include respond-to('large') {
        //   max-width: 610px;
        //}
      }
    }
    // .row-desc{
    //   cursor: pointer;
    // }
    .show-less{
      max-height: 150px;
      transition: 0.3s;
      background-color: $opt_color_white;
      .row-desc{
        max-height: 30px;
      }
      &:hover{
        background-color: #f6f6f6;
      }
    }
    .show-more{
      min-height: 150px;
      position: relative;
      background-color: $opt_color_white;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 18px 0 rgba(0, 0, 0, 0.1);
      padding: 10px;
      z-index: 999;
      transition: 0.3s;
      .row{
        min-height: 150px;
        align-items: baseline;
      }
    }
    .read-toggle{
      color: $opt_color__primary;
      cursor: pointer;
    }
  }

  .correspondence_entry {
    padding: 5px 0;
    border-bottom: 1px solid $opt-border-color_light;
    padding-left: 15px;
    .row {
      margin: 0;
      display: flex;
      [class*=' col-'] {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .opt_flex--container{
      width: 100%;
    }
    .text-truncate {
      display: inline-block;

      @include respond-to('x-small') {
        /*max-width: 110px;*/
      }
      @include respond-to('small') {
        max-width: 300px;
      }
      @include respond-to('medium') {
        max-width: 450px;
      }
      @include respond-to('large') {
        max-width: 610px;
      }
    }
  }

  .correspondence_entry-sent {
    border-bottom: 1px solid $opt-border-color_light;

    .row {
      margin: 0;
      display: flex;
      [class*=' col-'] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px
      }
    }

    .mat-expansion-panel-body {
      padding: 10px 50px 16px 15px;
    }
  }


  .schedule-list-item {
    padding: 5px 15px;
    border-bottom: 1px solid $opt-border-color_light;

    .row {
      margin: 0;
      display: flex;
      [class*=' col-'] {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .mat-expansion-panel-body {
      padding: 10px 45px 16px 0;
    }
  }
  .payment-header{
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 20px;
    .padding-left{
      padding-left: 10px;
    }
    .row [class*=' col-']{
      display: block !important;
    }
    
    a{
      color: #27bfc2;
      cursor: pointer;
      line-height: 1.7;
      position: absolute;
      bottom: 0px;
    }
  }
  .payment_list_item{
    .mat-expansion-panel{
      box-shadow: unset;
      
    }
    .mat-checkbox-inner-container{
      margin-left: -3px;
    }
    .mat-expanded{
      .mat-expansion-panel-content{
        border-bottom: 1px solid #eeeeee;
      }
    }
    mat-expansion-panel-header{
      .opt_flex--container{
        flex-grow: 1;
      }
      .opt_flex__item{
        flex-direction: column;
        justify-content: center;
        display: flex;
      }
      .mat-content{
        margin-right: 20px;
      }
    }
    .mat-expansion-panel-body{
      margin-right: 28px;
      padding-bottom: 0px;
      .col-1{
        width: 78px;
      }
      .col-2{
        max-width: 271px;
      }
      .col-3{
        max-width: 268px;
      }
      .opt_flex--container{
        flex-grow: 1;
        height: 55px;
      }
      .opt_flex__item{
        flex-direction: column;
        justify-content: center;
        display: flex;
      }
    }
  }
  .payment-invoice{
    .header-row{
      .col-xs-4{
        display: flex;
        align-items: center;
      }
    }
    .payment-invoice-list{
      .mat-expansion-panel-header[aria-disabled=true]{
        color:unset;
      }
      .mat-expansion-panel{
        box-shadow: unset;
        .red-highlight{
          border-left: 5px solid #f5766c;
        }
      }
      .mat-expansion-panel.mat-expanded{
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      }
      .mat-expansion-panel-body{
        display: none !important;
      }
      .mat-expansion-panel-header{
        height: 55px;
        padding:0px 11px;
        .__expansion-rgt--side{
          margin-left: 20px;
        }
      }
      .mat-expanded{
        .mat-expansion-panel-body{
          display: block !important;
          padding: 0px;
          .__expansion-lft--side{
            height: 55px;
            display: flex;
            align-items: center;
            padding: 0 55px;
            padding-left: 65px;
            .symbol_icon{
              padding-right: 10px;
            }
            .opt_flex--container{
              flex-grow: 1;
            }
          }
        }
      }
      .__expansion-lft--side{
        i{
          padding:0px 5px;
        }
        .symbol_icon{
          padding-bottom: 2px;
          color:#909cac;
        }
      }
      .cancelled-text{
        color: #f5766c !important;
      }
      .cat-icon{
        font-size: 24px;
        color: #909cac;
        padding-right: 10px !important;
      }
      .cancel-icon{
        position: absolute;
        top: 58px;
        left: 77px;
        font-size: 18px;
      }
    }
    
  }
  .payment-refund-list{
    .mat-expansion-panel-body{
      display: none !important;
    }
    .mat-expanded{
      .mat-expansion-panel-body{
        display: block !important;
        padding: 0px;
        .__expansion-lft--side{
          height: 55px;
          display: flex;
          align-items: center;
          padding: 0 55px;
          padding-left: 65px;
          .symbol_icon{
            padding-right: 10px;
          }
          .opt_flex--container{
            flex-grow: 1;
          }
        }
      }
    }
    .payment-refund-header{
      background-color: #f5f5f5;
      padding: 20px;
    }
    .mat-expansion-panel-header[aria-disabled=true]{
      color:unset;
    }
    .mat-expansion-panel{
      box-shadow: none;
    }
    .mat-expansion-panel.mat-expanded{
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }
    .__expansion-rgt--side{
      margin-left: 20px;
    }
    .mat-expanded{
      .mat-expansion-panel-body{
        display: block !important;
        padding: 0px;
        .opt_expand--container{
          border-top:1px dotted #4bb3fa;
          border-bottom:1px dotted #4bb3fa;
        }
        .__expansion-lft--side{
          display: flex;
          align-items: center;
          padding: 0 70px;
          padding-left: 25px;
          .symbol_icon{
            padding-right: 10px;
          }
          .opt_flex--container{
            flex-grow: 1;
          }
        }
      }
    }
    .mid-col{
      margin-right: -150px;
    }
    .__expansion-lft--side{
      i{
        padding:0px 5px;
      }
      .symbol_icon{
        padding-bottom: 2px;
        color:#909cac;
      }
    }
    .cat-icon{
      font-size: 24px;
      color: #909cac;
      padding-right: 10px !important;
    }
    
  }
  .opt-invo {
    width: 100%;
    margin: 0;
    padding: 0;

    .mat-menu-panel{
      .mat-menu-content{
        padding: 10px;
      }
    }


    .text-truncate {
      display: inline-block;
      @include respond-to('x-small') {
        max-width: 130px;
      }
      @include respond-to('small') {
        max-width: 270px;
      }
      @include respond-to('medium') {
        max-width: 180px;
      }
      @include respond-to('large') {
        max-width: 225px;
      }
    }
    
    &.invoice-list-item {
      padding: 5px 15px;
      border-bottom: 1px solid $opt-border-color_light;

      .row {
        margin: 0;
        display: flex;
        [class*=' col-'] {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .mat-expansion-panel-body {
        padding: 10px 45px 16px 0;
      }


    }
    .symbol_icon {
      display: block;
    }
  }



  .field-icon {
    width: 25px;
  }

  .field-detail {
    width: calc(100% - 25px);
  }
  // .payments-list-item {
  //   padding: 0;
  //   border-bottom: 1px solid $opt_border-color;
  //   .mat-expansion-panel-content{
  //     display: none;
  //   }
  //   .opt-txt__body2{
  //     overflow: visible;
  //   }
  //   .icn-right {
  //     font-size: 14px;
  //     color: $opt_color_white;
  //     float: right;
  //     padding: 2px;
  //     background-color: $no-color--state;
  //     border-radius: 50%;
  //     position: relative;
  //     left: 45px;
  //   }

  //   .row {
  //     margin: 0;
  //     display: flex;
  //     align-items: center;
  //     [class*=' col-'] {
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: center;
  //       padding: 0 10px;
  //     }
  //   }

  //   //========styles for expansion ================
  //   &.mat-expansion-panel {
  //     box-shadow: none;
  //     .mat-expansion-panel-header[aria-disabled=true] {
  //       color: inherit;
  //       padding: 0;
  //       height: 55px;
  //     }
  //     .mat-expansion-panel-body{
  //       width: calc(100% - 30px);
  //       padding-left: 0;
  //     }
  //     &.mat-expanded {
  //       border-left: 4px solid $opt_color_primary;
  //       box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  //       margin-bottom: 50px;
  //       padding: 0;
  //       transition: 0.3s;
  //       .mat-expansion-panel-header {
  //         padding: 10px 0;
  //         border-bottom: 1px dashed $opt_color_primary;
  //       }
  //       .mat-expansion-panel-content {
  //         display: block !important;
  //         padding-top: 10px;
  //       }
  //     }
  //     .opt_expand--container {

  //       .__expansion-lft--side{
  //         width: calc(100% - 40px);
  //         .opt_flex--container{
  //           flex-wrap: wrap;
  //           .mat-expansion-panel-header-title{
  //             flex-wrap: nowrap;
  //           }
  //         }

  //       }
  //       .__expansion-rgt--side{
  //         justify-content: flex-end;
  //         width: 40px;
  //         .down-arrow{
  //           height: auto;
  //           width: auto;
  //         }
  //         .mat-icon-button{
  //           line-height: 50px;
  //         }
  //       }
  //     }
  //   }

  //   .data-cadge{
  //     height: 100%;
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: flex-end;

  //     &.flex-direction{
  //       flex-direction: column;
  //       justify-content: center;
  //     }

  //     .padding-left{
  //       padding-left:30px;
  //     }
  //     .opt-txt__primary{
  //       overflow: visible;
  //     }
  //   }
  //   //=========================================

  // }
  .payment-desc{
    .text-truncate{
      white-space: nowrap !important;
      width: 250px;
    }
    p{
      margin-bottom: 0;
    }
  }
  .deliverables-list-item {


    .field-icon {
      width: 25px;
    }

    .field-detail {
      width: calc(100% - 25px);
    }

    padding: 10px 0;
    border-bottom: 1px solid $opt-border-color;



    .row {
      align-items: center;
      margin: 0;
      @include respond-to('small') {
        display: block;
      }

      @include respond-to('medium') {
        display: flex;
      }
      @include respond-to('large') {
        display: flex;
      }
      [class*=' col-'] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
      }
    }

    .mat-expansion-panel-body {
      padding: 10px 50px 16px 15px;
    }
    width: 100%;
    margin: 0;

    .text-truncate {
      display: inline-block;
      @include respond-to('x-small') {
        max-width: 130px;
      }
      @include respond-to('small') {
        max-width: 270px;
      }
      @include respond-to('medium') {
        max-width: 180px;
      }
      @include respond-to('large') {
        max-width: 225px;
      }
    }
  }


  .dispatch-list-item {
    padding: 10px 0;
    border-bottom: 1px solid $opt-border-color;
    .row-block{

      @include respond-to('x-small') {
        padding: 10px 0;
        display: block !important;
      }
      @include respond-to('small') {
        padding: 10px 0;
        display: block !important;
      }
      @include respond-to('medium') {
        padding: 0;
        display: flex !important;
      }
    }
    .crrnt-status {
      background-color: inherit;

    }

    .row {
      margin: 0;
      display: flex;
      [class*=' col-'] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0 10px;
      }
    }

    .mat-expansion-panel-body {
      padding: 10px 50px 16px 15px;
    }

    width: 100%;
    margin: 0;

    .text-truncate {
      display: inline-block;
      @include respond-to('x-small') {
        max-width: 130px;
      }
      @include respond-to('small') {
        max-width: 270px;
      }
      @include respond-to('medium') {
        max-width: 180px;
      }
      @include respond-to('large') {
        max-width: 225px;
      }
    }

  }

  .opt-deli-header {
    mat-checkbox {
      margin-right: 10px;

    }
    & span {
      margin-right: 10px;
    }
    .mat-icon-button {
      &.btn-icon {
        margin-right: auto;
      }
    }
  }

  .documents, .c-sent, .payments, .host, .c-received {
    .row {
      border-bottom: none;
    }
    sup{
      line-height: 22px;
    }
  }

  .documents, .c-sent, .c-received {
    .document-upload-panel{
      .doc-upload-container {
        padding: 20px;
        border: 1px dashed darkgray;
        margin:15px 0px;
        background-color: $opt_color_white;
        .opt_flex--container{
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      .document-upload-icon {
        @include circle-icon(70px, $circle_icon, $circle_icon);
        .icon-icn-file {
          color: lightgray;
          font-size: 35px;
          vertical-align: middle;
        }
      }
      .document-upload-message {
        padding-left: 20px;
      }
    }
    .general-item{
      height: 55px;
      padding: 0 81px 0 25px !important;
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      .data-cadge{
        .opt_flex--container{
          flex-direction: column;
        }
      }
    }
    .merged-item{
      border-top: 1px solid #e0e0e0;
    }
    .document-status-icon{
      font-size: 14px;
    }
    .documents_list_item {
      padding: 0;
      .header-height{
        padding: 10px !important;
      }
      .row {
        display: flex;
        height: 100%;
        align-items: center;

        [class*=' col-'] {
          display: flex;
          flex-direction: column;


        }
      }
      .opt_flex--container{
        width: 100%;
      }
      .text-truncate {
          white-space: normal;
          display: flex;
          align-items: center;

        @include respond-to('x-small') {
          /*max-width: 110px;*/
        }
        @include respond-to('small') {
          max-width: 300px;
        }
        @include respond-to('medium') {
          max-width: 450px;
        }
        @include respond-to('large') {
          max-width: 610px;
        }
      }
      a:hover{
        text-decoration: underline;
        cursor: pointer;
      }
      .mat-expansion-panel-body{
        .__expansion-lft--side{
          padding:0 15px;
          .data-cadge{
            .opt_flex--container{
              flex-direction: column;
            }
          }
        }
      }
    }
    //========styles for expansion ================
      .mat-expansion-panel {
        box-shadow: none;
        .mat-expansion-panel-header[aria-disabled=true] {
          color: inherit;
          padding: 0 0 0 10px;
        }
        .mat-expansion-panel-body{
          width: calc(100% - 30px);
          padding-left: 0;
        }
        &.mat-expanded {
          border-left: 4px solid $opt_color_primary;
          box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
          padding: 0 10px;
          transition: 0.3s;
          .mat-expansion-panel-header {
            padding: 10px 0;
            border-bottom: 1px dashed $opt_color_primary;
          }
          .mat-expansion-panel-content {
            padding: 10px;
          }
        }
        .opt_expand--container {

          .__expansion-lft--side{
            width: calc(100% - 40px);
              .opt_flex--container{
                flex-wrap: wrap;
                .mat-expansion-panel-header-title{
                  flex-wrap: nowrap;
                }
              }

          }
          .__expansion-rgt--side{
            justify-content: flex-end;
            width: 40px;
              .down-arrow{
                height: auto;
                width: auto;
              }
              .mat-icon-button{
                line-height: 50px;
              }
          }
        }
      }

      .data-cadge{
        /*height: 100%;*/
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;

      }
    //=========================================
    
  }

  .c-received{
    .align-baseline{
      display: flex;
      align-items: baseline !important;
    }
  }
  .c-sent{
    //========styles for expansion ================
    .mat-expansion-panel-content{
      display: none;
    }
    .row{
      align-items: center;
    }
    .mat-expansion-panel {
      box-shadow: none;
      .mat-expansion-panel-header[aria-disabled=true] {
        color: inherit;
        padding: 0;
        border-bottom: none;
        height: 55px;
      }
      .mat-expansion-panel-header-title{
        display: flex;
        align-items: center;
      }
      .mat-expansion-panel-body{
        width: calc(100% - 30px);
        padding-right: 25px;
        padding-left: 0;
      }
      &.mat-expanded {
        border-left: 4px solid $opt_color_primary;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        margin-bottom: 50px;
        padding: 0;
        transition: 0.3s;
        .mat-expansion-panel-header {
          padding: 10px 0;
          border-bottom: 1px dashed $opt_color_primary;
        }
        .mat-expansion-panel-content {
          padding-top: 10px;
        }
        .mat-expansion-panel-content{
          display: block !important;
        }
      }
      .opt_expand--container {

        .__expansion-lft--side{
          width: calc(100% - 40px);
          .opt_flex--container{
            flex-wrap: wrap;
            .mat-expansion-panel-header-title{
              flex-wrap: nowrap;
            }
          }

        }
        .__expansion-rgt--side{
          justify-content: flex-end;
          width: 40px;
          .down-arrow{
            height: auto;
            width: auto;
          }
          .mat-icon-button{
            line-height: 50px;
          }
        }
      }
    }

    .data-cadge{
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      &.flex-direction{
        flex-direction: column;
        justify-content: center;
      }

    }
    //=========================================
  }



  .host {
    .icn-number {
      @include circle-icon(14px, $opt_status_confirmed-multiple, $opt_status_confirmed-multiple);
      font-size: 14px;
      color: $opt_color_white;
      display: inline-block;

    }
    .status {
      width: 60px;
      padding: 10px;
      margin-top: 5px;

    }
  }

  .host-list-item {
    //========styles for expansion ================
    .row {
      align-items: center;
    }
    .opt_flex--container{
      min-height: 48px;
      align-items: center;
    }

      .text-truncate {

        @include respond-to('x-small') {
          max-width: 110px;
          display: inline-block;
        }
        @include respond-to('small') {
          max-width: 250px;
          display: inline-block;
        }
        @include respond-to('medium') {
          max-width: 345px;
          display: inline-block;
        }
        @include respond-to('large') {
          max-width: 400px;
          display: inline-block;
        }

      }
    &.mat-expansion-panel {
      box-shadow: none;
      .mat-expansion-panel-header[aria-disabled=true] {
        color: inherit;
        padding: 0 10px;
      }
      .mat-expansion-panel-body{
        width: calc(100% - 30px);
        padding-right: 25px;
        padding-left: 0;
      }
      &.mat-expanded {
        border-left: 4px solid $opt_color_primary;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        margin-bottom: 50px;
        padding: 0 10px;
        transition: 0.3s;
        .mat-expansion-panel-header {
          padding: 10px 0;
          border-bottom: 1px dashed $opt_color_primary;
        }
        .mat-expansion-panel-content {
          padding-top: 10px;
        }
      }
      .opt_expand--container {

        .__expansion-lft--side{
          width: calc(100% - 40px);
          .opt_flex--container{
            flex-wrap: wrap;
            .mat-expansion-panel-header-title{
              flex-wrap: nowrap;
            }
          }

        }
        .__expansion-rgt--side{
          justify-content: flex-end;
          width: 40px;
          display: flex;
          align-items: center;
          min-height: 55px;
          .down-arrow{
            height: auto;
            width: auto;
          }
          .mat-icon-button{
            line-height: 50px;
          }
        }
      }
    }

    .data-cadge{
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      &.flex-direction{
        flex-direction: column;
        justify-content: center;
      }

    }
    .padding-left{
      padding-left:40px;
    }
    //=========================================
  }
}

// Document-popup styles
.document-popups{
  .add-upload-popup, .email-popup, .edit-popup, .multiple-attach-popup, .customer-email-popup{
    max-width: 500px;
    background-color: $opt_color_white;
    padding: 15px;
    .opt_flex--container{
      height: 40px;
    }
    button{
      margin-left: 10px;
    }
    mat-form-field{
      width: 100%;
    }
    .button-row{
      margin:25px -15px 0px -15px !important;
    }
  }
  .customer-email-popup{
    .header-lbl{
      margin-bottom: 10px;
    }
  }
  .multiple-attach-popup{
    max-width: 850px;
  }
  .edit-popup{
    .edit-buttons{
      button{
        margin-left: 0px !important;
        width: 160px;
      }
    }
    .doc-edited-label{
      position: relative;
      top:15px;
    }
  }
}
.menu-address{
  padding:10px !important;
}
.email-panel{
  padding: 10px;
}
.info-panel{
  width: 330px;
overflow: hidden;
padding: 20px;
.mat-menu-content{
  width: 320px;
  max-width: 330px;
  }
  .row{
    margin:5px 0px;
  }
  .receive-text{
    color: $success_action_new;
    padding-left: 10px;
  }
}
.mat-menu-panel.info-panel{
  max-width: 330px;
  overflow: hidden;
}
.failed-panel{
  max-width: unset !important;
  overflow: hidden;
  min-width: 80vw !important;
  .header-row{
    margin:10px 0px;
  }
  .mat-menu-content{
    padding:20px;
  }
}
.ReadMore-panel{
  padding: 15px;
}