.opt {
  &_counter {
    .mat-raised-button {
      min-width: 20px !important;
      line-height: 20px !important;
      background-color: #e3e3e3;
      box-shadow: none;
      border: 1px solid #ccc;
      padding: 0 6px;
      box-shadow: none !important;
      color: white;

      &:hover {
        color: #454545;
      }

    }
    input.mat-input-element {
      text-align: center !important;
    }

  }


  &_counter__item {

    width: 45px;

  }

  &_expand--container {
    width: 100%;
    >.row{


      >[class^='col-']{

        min-height: 55px;
        @include flexbox();
        .opt_flex--container{
          width: 100%;
        }

      }
    }

    .mat-form-field-wrapper {
      margin-left: 1px;
      margin-right: 1px;
    }

    .mat-form-field-infix {
      width: 30px;
      text-align: center;

    }
  }

  &_booking__detail {
    .lft_btn_cage{
      .mat-checkbox-label{
        position: relative;
        top:0.7px;
      }
      _:-ms-lang(x), .mat-checkbox-label { 
        position: relative;
        top: -3px;
      }
    }
    .tbl_head{
      .no-padding-right{
        padding-right: 0;
      }
      button{
        i{
          padding-right: 3px;
        }
      }
    }
    
    button{
      i{
        font-size: 14px;
      }
      .mat-button-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 22px;
      }
    }
    btn-group {
      i{
        padding-right: 3px;
      }
    }
    .opt_date_range{

      .mat-form-field{
        width: 100%;
      }
    }

    .tbl_head{

      padding-left: 15px;

      &:nth-child(1) {
       //background-color: #eee;
      }
    }

    .mat-raised-button{

      color: #686868;
      i{
        font-size: 16px;
        margin-right: 5px;
      }
    }

    .opt_unit-price{
      display: none;
    }

    .opt-txt__body1,.opt-txt__body1-small{
      line-height: 19px;


    }

    .opt-txt__body2,.opt-txt__body2-small{
      line-height: 19px;
    }

    .mat-menu-panel{
      .mat-menu-item{
        height: 30px;
        .price-value {
          display: inline-block;
          line-height: 1;
          float: right;
          padding: 9px 0;
        }
        .price-category{
          display: inline-block;
          float: left;
          width: 50%;
          padding: 9px 10px 9px 0;
        }
      }
    }

    .tbl_head{
      background-color: #fff;
      height: 58px;
      border-bottom: 2px solid #eee;


      &:nth-child(2){
        padding-left: 0px;
      }

      >.row{
        width: 100%;
      }ah el

      .icon__cage{
        margin-left: -6px;
      }

    }

    .__date--cage{

      padding-left: 15px;

      @include respond-to('small') {
        padding-left: 15px;
      }

      @include respond-to('medium') {
        padding-left: 0px;
      }
      @include respond-to('large') {
        padding-left: 0px;
      }

    }

    .mat-accordion{

      >.mat-expansion-panel{
        box-shadow: none;

      }


      .mat-expansion-panel{

        //border-left: 4px solid red;

        &.opt-expand--line.mat-expanded{
          border-left: 4px solid #4bb3fa;
          margin-bottom: 50px;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          transition: 0.3s;
        }


        .mat-expansion-panel-body{
          padding: 0px;

          .__multi-buttons{
            padding-left: 50px;
          }

          .__include-package_line{
            border-top:1px solid #d9d9d9;
          }

          .__new-items_line{
            border-top:1px dashed #4bb3fa;
          }




        }
      }
    }

    .__time--cage{


      @include respond-to('small') {
        padding-right: 40px;
        text-align: right;

      }

      @include respond-to('medium') {
        padding-right: 0px;
        text-align: right;

      }
      @include respond-to('large') {

        padding-right: 0px;
        text-align: left;
      }



    }

    mat-accordion {
      .mat-expansion-panel-header[aria-disabled=true] {
        color: inherit;
      }
      .mat-expansion-panel-header {
        padding: 0;



        @include respond-to('small') {
          min-height: 110px;
          height: 110px !important;

        }

        @include respond-to('medium') {
          min-height: 55px;
          height: 55px !important;

        }
        @include respond-to('large') {

          min-height: 55px;
          height: 55px !important;
        }



        > .row {

          > [class^='col-'] {

            min-height: 55px;
            @include flexbox();
            .opt_flex--container {
              width: 100%;
            }

          }

        }
      }
    }

    .icon__cage {
      width: 55px;


      &.__min{
        width: auto;
        height: auto;
        min-width: 25px;
      }

      .mat-checkbox-layout {
        margin-left: 7px;
      }

    }

    .mat-input-element {
      text-align: right;
    }

    .mat-input-wrapper {
      &.mat-form-field-wrapper {
        padding-bottom: 0px !important;
      }

    }

    .mat-input-infix {
      .mat-form-field-infix {
        padding: 0px !important;
        border-top: 1px solid transparent !important;
      }
    }

    .mat-form-field-infix {
      padding: 1px !important;
      border-top: 1px !important;
    }

    .mat-form-field-underline {
      bottom: 0px !important;
    }

    &-checkbox {
      width: 50px;

    }
    &-checkbox_details {
      width: calc(100% - 50px)

    }
    .__item--value{

      @include respond-to('small') {

        padding-left: 15px;
        // background-color: #00acc1;
      }

      @include respond-to('medium') {
        padding-left: 5px;
        // background-color: #00bfa5;
      }
      @include respond-to('large') {
        padding-left: 5px;
        // background-color: rebeccapurple;
      }

    }

    .price--values {


      @include respond-to('small') {
        padding-left: 15px;

      }

      @include respond-to('medium') {
        padding-left: 25px;

      }
      @include respond-to('large') {
        padding-left: 15px;

      }



      .price--value__icon {
        width: 15px;
        padding-left: 5px;
        @include respond-to('x-small') {
          flex: initial;
          width: 23px;
        }
        @include respond-to('medium') {
        }
        @include respond-to('large') {
        }



      }

      .opt__type{


        @include respond-to('small') {
          margin-right: 23px;
        }

        @include respond-to('medium') {
          margin-right: 23px;
        }
        @include respond-to('large') {
          margin-right: 23px;
        }

      }

      .price--value__input {
        width: 100px;
        font-weight: 500;

        .mat-form-field {
          width: 100%;

          .mat-input-element {
            font-weight: 500;
            font-size: 15px;
          }
        }

      }
    }

  }

  &_expand__header {

    padding-left: 0px !important;
    min-height: 55px;

    .row {
      width: auto;
    }

  }



}
.mat-menu-item{
  .mat-icon{
    margin-right: -5px !important;
    vertical-align: text-top !important;
  }
  .material-icons{
    font-size: 14px !important;
  }
}
.action__button {
  flex: 1;
  @include respond-to('x-small') {
    flex: 0 1 auto;
  }
  @include respond-to('large') {
    flex: 0 1 auto;
  }

  @include respond-to('xx-large') {
    text-align: right;
  }

}




.lbl {

  border-radius: (3px);
  font-size: 12px;
  padding: 2px 5px;
  line-height: 1.2px;
  font-weight: 500;
  color: #607D8B;
  border: 1px solid #d9d9d9;

  &.lbl__vat {
    background-color: $lbl-vat--color;

  }
  &.lbl__price-details {
    background-color: $lbl__price-details;
    color: #fff;
    border-radius: (10px);
    padding: 2px 10px;
  }
  &.lbl__corporate-client{
    border: 1px solid #27bfc2;
    color: #27bfc2;
  }
  &.lbl__individual-client{
    border: 1px solid #9c27b0;
    color: #9c27b0;
  }
}

.loadding--cage {
  margin-left: -15px;
  margin-right: -15px;
}

.mat-expansion-panel-body{


  &.__inner_body{
    padding: 0px;
  }

  .opt-price{
    &.opt-price__large{
      font-size: 25px;
      font-weight: 500;
      color:$opt_color__primary ;
      >span{
        padding-right: 20px;
      }
    }

  }


  .expansion-panel_body{
    .__data{

      min-height: 55px;

      >.row{
        height: 55px;

      }

      &.separator__line--dotted{
        border-top: 1px dashed #d9d9d9;
      }


    }

  }


}


.price__details{
  padding-top: 10px;
  background-color:#f5f5f5;
  border-top: 1px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1 ;
  padding-bottom: 10px;

  >.opt_flex--container {

    @include respond-to('small') {
      flex-direction: column;
      //border: 1px solid red;
    }

    @include respond-to('medium') {




      flex-direction: row;
      //border: 1px solid green;
    }

    @include respond-to('xx-large') {
      flex-direction: row;
      //border: 1px solid orange;
    }

    >.opt_flex__item{

    }


    //@include respond-to('x-small') {
    //
    //  @include flex-direction(column);
    //
    //  .price__details--row{
    //    &:last-child {
    //      //border-bottom: 1px solid #e1e1e1;
    //    }
    //  }
    //
    //
    //  >.opt_flex__item{
    //    &.__right-line{
    //      border-right: none !important;
    //    }
    //  }
    //
    //}
    //
    //@include respond-to('large') {
    //  @include flex-direction(row);
    //}
    //
    //@include respond-to('xx-large') {
    //  @include flex-direction(row);
    //}

  }

  .opt_flex--container{

    >.opt_flex__item{

      &.__right-line{
        border-right: 1px solid   #e3e3e3;
      }


    }
  }


  .margin-cage{
    width: 100%;
    border: 1px solid #e3e3e3;
    margin-top: 20px;
    height: 40px;

    &.status__1 {
      background-color: $opt_color__secondary;

      .txt__lbl{
        background-color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: $opt_color__secondary;

      }

      .txt__val {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        position: relative;

        &:after{
          content: '';
          position: absolute;
          left: 0px;
          top: 9px;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-right: 10px solid transparent;
          border-left: 10px solid #ffffff;
          clear: both;
          border-bottom: 10px solid transparent;
          z-index: 1000;
        }

      }

    }




  }



  .price__details--row{
    line-height: 40px;
    border-bottom: 1px solid #e3e3e3;
    margin-left: 15px;
    margin-right: 15px;
    h2.opt__heading-2{
      line-height: 40px;
    }
    &:last-child {
      border-bottom: none;
    }

  }


}





.btn {

  &.btn__selected {
    border: 1px solid #b7b7b7;
    //outline-color: #0000;
    //border-radius: 4px;
    background-color: $btn-active-color;

    i {
      color: #fff;
    }
  }

  &.btn__frozen {
    border: 1px solid #b7b7b7;
    //outline-color: #0000;
    //border-radius: 4px;
    background-color: $no-color--state;

    i {
      color: #fff;
      font-size: 17px;
    }
    position: relative;
    top: 2px;
    height: 27px;
    width: 27px;
  }




}
.btn__frozen {
  border: 1px solid #b7b7b7;
  //outline-color: #0000;
  //border-radius: 4px;
  background-color: $no-color--state;

  i {
    color: #fff;
    font-size: 17px;
  }
}

.panel-initial-actions{
  border-bottom: 2px solid #d9d9d9;
  padding: 10px 0;
}

.new-booking-details-wrapper{
  padding: 15px;
  .new-booking-detail-tab{
    padding: 25px 15px;
    border: 1px dashed #E1E1E1;
    background-color: #F6F6F6;
    text-align: center;
    transition: all 0.2s ease-in-out;
    .new-booking-detail-tab-icon{
      i{
        color: #E3E3E3;
        font-size: 54px;
      }
    }
    .new-booking-detail-tab-title{
      color: #E3E3E3;
      font-size: 16px;
      font-weight: 500;
      margin: 5px 0 0 0;
    }
    &:hover{
      background-color: $opt_color__primary;
      border-color: $opt_color__primary;
      @include box_shadow(2);
      transition: all 0.2s ease-in-out;
      .new-booking-detail-tab-icon{
        i{
          color: #fff;
        }
      }
      .new-booking-detail-tab-title{
        color: #fff;
      }
    }
    &:active{
      background-color: $opt_color__primary;
      border-color: $opt_color__primary;
      @include box_shadow(3);
      transition: all 0.2s ease-in-out;
      .new-booking-detail-tab-icon{
        i{
          color: #fff;
        }
      }
      .new-booking-detail-tab-title{
        color: #fff;
      }
    }
  }
}

.icon-text-menu{
  button{
    &.blocked{
      i{
        color: #f5766c;
      }
    }
    i{
      color: #90a4ae;
    }
    span{
      vertical-align: middle;
      display: inline-block;
      padding-left: 15px;
      font-size: 14px;
    }
  }
}

//price popup sass
.price-popup{
  .mat-menu-item{
      height: 30px;
      .price-value {
        display: inline-block;
        line-height: 1;
        float: right;
        padding: 9px 0;
      }
      .price-category{
        display: inline-block;
        float: left;
        width: 50%;
        padding: 9px 10px 9px 0;
      }

  }
}
.mat-menu-content{
  .mat-menu-item{
    line-height: 40px;
    height: 40px;
    .mat-icon{
      .icon-icn-package, .icon-icn-item{
        font-size: 14px !important;
        vertical-align: text-top;      }
    }
  }
}
