@import "variables";
.mat-button{

  line-height: inherit !important;

  &.btn-icon-text{
    border: 1px solid #abb5bf;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 4px;
    font-size: 12px;
    span{
      color: #333;
      i{
        color: #909cac;
        padding-right: 5px;
        font-size: 16px;
        margin-top: -2px;
      }
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .mat-button{
    &.btn-icon-text{
      padding: 0 8px;
      min-width: auto;;
      span{
        i{
          padding-right: 0;
        }
        &.btn-text{
          display: none;
        }
      }
    }
  }
}




//================= OPTIMO BUTTONS ================/

%btn{
  height: 30px;
  padding: 0 15px;
  width: auto;
}

%btn-small{
  height: 23px;
  padding: 0 15px;
  width: auto;
}

.mat-btn{

  &-primary{ /*default*/
    @extend %btn;
    background-color: $opt_color_primary;
    color: $opt_color_white !important;
    text-align: center !important;
    &--small{
      @extend %btn-small;
      background-color: $opt_color_primary;
      color: $opt_color_white !important;
      text-align: center !important;
    }


  }
  /* &-secondary{

   }*/
  &-outline {
    @extend %btn;
    text-align: center !important;
    background-color: $opt_color_white;
    border: 1px solid $opt_color_btn_outline !important;
    color: $opt_color-btn_outline!important;

    &--small {
      @extend %btn-small;
      text-align: center !important;
      background-color: $opt_color_white;
      border: 1px solid $opt_color_btn_outline !important;
      color: $opt_color-btn_outline!important;
    }
  }

  &-disabled{
    @extend %btn;
    border-color: $opt_color_btn_disabled;
    color:  $opt_color_btn_disabled !important;
    background-color: $opt_color_white;
  }
  &-raised{

  }
  &-icon-btn{
    @extend %btn;
    color: $opt_color_icon_font !important;
  }
  &-fab{
    @extend %btn;
    background-color: $opt_color_fab !important;
    color: $opt_color_white !important;
  }

  &-mini-fab{
    @extend %btn-small;
    background-color: $opt_color_secondary !important;
    color: $opt_color_white !important;
  }

}
