.opt {
  &_chip {
    display: flex;
    padding-right: 10px;

    .container-nw-row{
      flex-direction: column;
    }
    .opt_chip--wrapper {
      background-color: gray;
      border-radius: 20px;
      padding: 5px 5px 5px 5px;
      min-width: 100px;
      max-width: 200px;
      color: white;
      font-weight: 400;
      height: 23px;
      font-size: 11px;
      //border: 1px solid gray;

      .multiselect-dropdown{
        padding: 0 !important;
        line-height: 1 !important;
        font-size: 12px;
        //height: 25px;
        border: none;
        background: none;

        li{
          color: black;
        }

      }

      .selected-item{
        line-height: 1 !important;
        background: none !important;
        font-size: 11px !important;
        border: none !important;
        margin: 0;
      }

        .dropdown-btn {
          padding: 0 !important;
          border: none !important;
          outline: none;
          span{
            font-size: 11px;
          }

      }
      .dropdown-down, .dropdown-up{
        border-top: 5px solid #adadad !important;
        border-left: 5px solid transparent !important;
        border-right: 4px solid transparent !important;
        padding-bottom: 5px !important;
      }

      .cancel{
        font-size: 15px;
      }
    }

    input{
      outline: none;
      color: black;
      :active{
        display: none;
      }
      :focus{
        display: none;
      }
    }
    .category-type{
      font-size: 10px;
      padding-left: 10px;
    }
  }
}
