@import "variables";

.opt_client-search{
  .opt_modal-content{
    overflow: auto;

    .opt_modal-body {
      padding: 0;

      .search-panel-wrapper {
        min-width: 30px;
        background-color: $background-color;
        padding: 24px;
        .opt_search-panel {
          background-color: $opt_color_white;
          border: none;
          .btn{
            border: 1px solid $opt_color_white;

          }

        }
      }
      .opt-client-list-full {
        padding: 24px;
      }
    }
    .html-code{
      display: none;
    }
  }

}
