.opt_client__list{

  //.ma7t-expansion-panel {
  //  &:not([class*=mat-elevation-z]) {
  //    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  //  }
  //  &.mat-expanded {
  //    .mat-expansion-panel-content {
  //      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  //    }
  //  }
  //}

  mat-expansion-panel{
    &:hover{
      transition: background-color 0.5s ease;
      background-color: #ECEFF1;

      .lbl{
        transition: background-color 0.5s ease;
        background-color: #CFD8DC;
      }

      .mat-expansion-panel-content{
        background-color: #fff;
      }

    }
  }
  .mat-accordion .mat-expansion-panel.opt-expand--line.mat-expanded{

    margin-bottom: 50px;
    margin-top: 50px;
    @include box_shadow(3)
  }


  hr{
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .opt_expanded-view{
    margin-top: 20px;
  }

  .mat-expanded{



  }

  .opt_expand--container {
    .__expansion-lft--side{
      display: inline-block;
    }
    .__expansion-rgt--side{
      display: inline-block;
      position: absolute;
    }
  }

  .opt-txt__light{
    font-size: 13px;
  }

  .button-section{
    padding-right: 0;
  }

  //.address{
  //  .opt-txt__body1, opt-txt__body2{
  //    white-space: normal !important;
  //  }
  //}

  .tc-flex-item__center{
    display: inline-block;
    vertical-align: center!important;
  }

  .opt_flex--container{
    display: flex;
    line-height: 20px;
  }

  .opt_circle{
    //padding-top: 0;

    &__individual{
      @include circle-icon(45px, #27bfc2, #27bfc2);
      padding-top: 2px;
      line-height: 12px;
      .client-type{
        text-align: center;
        color: white;
        .material-icons{
          font-size: 30px;
        }
      }
    }
    &__corporate{
      @include circle-icon(45px, #f9d634, #f9d634);
      padding-top: 2px;
      line-height: 12px;
      .client-type{
        text-align: center;
        color: white;
        .material-icons{
          font-size: 30px;
        }
      }
    }
  }

  .no-left-padding{
    padding-left: 0;
  }

  .add-padding{
    padding-left: 45px;
  }

  .icon-add-booking2{
    font-size: 24px;
  }

  mat-icon{
    color: #909cac;
  }

  .mat-expansion-panel {
    &:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }
    &.mat-expanded {
      .mat-expansion-panel-content {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
      }
    }
    .mat-expansion-panel-content {
      overflow: hidden;
    }
    .mat-expansion-panel-header {
      height: auto !important;
    }
    .clearfix {
      padding-bottom: 10px;
    }
    //.opt_flex__item {
    //  @include respond-to('medium') {
    //    padding-bottom: 10px;
    //  }
    //}
    .type{
      @include respond-to('x-small') {
        padding-left: 0;
        //padding-bottom: 10px;
      }
      @include respond-to('small') {
        padding-left: 0;
      }
    }
    .address-client-summary{
      @include respond-to('x-small') {
        padding-left: 65px;
        .opt-txt__body1, opt-txt__body2{
            white-space: normal !important;
        }
        //padding-bottom: 10px;
      }
      @include respond-to('small') {
        padding-left: 0;
        .opt-txt__body1, opt-txt__body2{
            white-space: normal !important;
          }

      }
    }
    .address{
      @include respond-to('x-small') {
        padding-left: 65px;
        //padding-bottom: 10px;
        .opt-txt__body1, opt-txt__body2{
          white-space: normal !important;
        }

      }
      @include respond-to('small') {
        padding-left: 0;
        .opt-txt__body1, opt-txt__body2{
          white-space: normal !important;
        }

      }
    }
    .email-phone {
      @include respond-to('x-small') {
        padding-left: 0;
        //padding-bottom: 10px;
      }
      @include respond-to('small') {
        padding-left: 65px;
      }
      @include respond-to('medium') {
        padding-left: 0;
      }
    }
  }

  .contact-address{
    white-space: normal;
  }
  .sm-padding{
    @include respond-to('x-small') {
      padding-left: 65px;
      //padding-top: 10px;
    }
    @include respond-to('small') {
      padding-left: 0;
      padding-top: 10px;
    }
  }

  .lbl{
    white-space: nowrap;
    line-height: 17px;
    display: inline-block;
    margin-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    &.__active{
      background-color: #27BFC2;
      color: white;
    }
    &.__selected{
      background-color: #00b0ff;
      color: white;

    }
    &.__normal{
      background-color: #909CAC;
      color: white;

    }
  }

}
