.opt_client-search{
  .opt_modal-content{
    overflow: auto;

    .opt_modal-body {
      padding: 0;

      .search-panel-wrapper {
        min-width: 30px;
        background-color: #e4e8e9;
        padding: 24px;
        .opt_search-panel {
          background-color: white;
          border: none;
        }
      }
      .opt-client-list-full {
        padding: 24px;
      }
    }
  }
}
