.opt_collection-despatch-list-wrapper{
  border-top:2px solid #e0e0e0;
  margin-bottom: 20px;
  margin-top: 20px;

.despatch-list-item{
    position: relative;
    top: 3px;
  }
  .mat-list{
    padding-top: 2px;
  }
  .row{
    padding:10px 10px 10px 0px;
  }
  .list-checkbox{
    margin-right: -50px;
    margin-left: 5px;
  }
}
