.opt {
  &_corporate-client-popup {
    font-size: 12px !important;
    font-family: $rub !important;

    .mat-form-field{
      width: 100%;
    }

    .btn {
      &:active, &:focus, &:visited, &:active:focus {
        outline: none;
      }

      &.btn-taptoadd {
        border: 1px dashed #909cac;
        background-color: transparent;
        border-radius: 50%;
        padding: 10px;

        i.material-icons {
          color: #909cac;
          font-size: 45px;
        }
      }
    }

    .pro-header {
      //display: flex;

      .pro-main-wrapper {
        padding: 15px;
        margin-right: 10px;
        background-color: #f1f5f8;
      }
      .pro-sub-wrapper {
        padding: 15px;
        background-color: #f1f5f8;
        justify-content: center;

        .mat-slide-toggle-content {
          font-size: 12px;
          font-family: $rub;

        }
        .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
          background-color: $badge-success-bg;
        }
        .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
          background-color: #d0d4db;
        }
        .mat-input-infix mat-form-field-infix {
          font-family: 'Rubik', sans-serif;
        }
        .form-data {
          &__individual{
            margin: 0 5px;
          }
          height: 100%;
          align-items: center;
          padding: 5px;
          .mat-form-field{
            width: 100%;
          }
        }
      }

      .tap-to-add-wrapper {

        &.themed {
          p {
            color: #909cac;
            font-size: 11px;
          }
        }
      }
    }

    .contact-details{
      padding-top: 20px;

      .outer-contxt{
        background-color: white;
        margin: 10px;
        border: 1px dashed #b6b8b9;
        .form-data-contact{
          padding: 10px;
          .opt_flex__item{
            padding: 10px;
          }
        }
      }
      .inner-contxt{
        flex-direction: column;
        margin: 10px;
        //border-bottom: 1px dashed #00aeef;
      }
      .contact-type{
        margin: 10px;
        background-color: #f1f5f8;
        border: 1px solid #b6b8b9;
      }
      .opt-section__heading{
        width: 100%;
        background-color: #f1f5f8;
        &:focus, :active, &:hover, &:visited{
          background-color: #f1f5f8;
        }
      }
      .mat-expansion-panel, .mat-expansion-panel-header{
        background-color: #f1f5f8;
        &:focus, :active, &:hover, &:visited{
          background-color: #f1f5f8;

        }
      }
      .add-more-section{
        padding: 10px;
        position:relative;
        width: 100%;
        height: 21px;

        &:active, &:hover, &:focus, &:visited, &:active:focus {
          .icon-line{
            border-color:#00aeef;
          }
          .icon-wrapper{
            background-color: #00aeef;
          }
          label {
            color: #00aeef;
            background: transparent;
          }

        }
        .icon-line{
          left: 0;
          right: 0;
          width: 100%;
          position: absolute;
          height: 1px;
          border-bottom: 1px dashed #b6b8b9;
        }
        .icon-wrapper{
          position: absolute;
          color: #fff;
          line-height: 0;
          padding: 1px 1px;
          background-color: #b6b8b9;
          right: 15px;
          top: 0;
          i.material-icons{
            font-size: 18px;
          }
        }
        label{
          position: absolute;
          align-items: right;
          left: 70%;
          top: -30%;
          font-size: 11px;
          color: #b6b8b9;
        }
      }
      .add-new{
        padding: 0 10px 10px 10px;
        .icon-line{
          width: 32%;
          float: right;
          left: 68% !important;
        }
      }
      .add-alternative-contact{
        padding: 0 21px 10px 21px;
      }
    }

    .notes{
      background-color: #f1f5f8;
      .note-body{
        .txt-area{
          background-color: white;
          padding: 20px;
        }
      }
      .btn-note{
        .btn{
          border: 1px solid #b7b7b7;
          padding-bottom: 2px;
          padding-top: 2px;
          font-size: 12px;
          &:focus, :active, &:hover, &:visited{
            background-color: #00aeef;
            color: white;
          }
        }
      }
    }

    .communication-consent{
      .communication-consent-body{
        padding: 10px;
        flex-direction: column;
        .communication-consent-body-item{
          padding-bottom: 20px;
        }
      }
    }
  }
}
