@import "variables";

.opt-section__heading{
  box-shadow: none;
  background: $opt_color_white;
}
.opt_corporate-client-tabs{

  .mat-expansion-panel {


    .mat-expansion-panel-header {
      &:hover{
        background: $opt_color_white;
      }
    }
  }
  >.mat-card:not([class*=mat-elevation-z]){
    box-shadow: none;
    padding: 0;
  }
  .mat-expansion-indicator{
    padding-bottom: 237px;
  }
  .mat-tab-body{
      margin-top:20px;
      overflow-y: hidden !important;
      .opt_additional-info{
          padding-top:0px;
      }
  }
}
