.counter-wrapper{
    width: 50px;
    .counter-label{
        margin-bottom: 2px;
    }
    .opt_flex--container{
        flex-direction: column;
    }
    .mat-form-field{
        width: 100%;
        position: relative;
        bottom: 20px;
        height: 30px;
    }
    .input-wrapper{
        background-color: #f5f5f5;
        border-radius: 13px;
        padding: 10px;
        height: 30px;
        width: 50px;
        transition: width .3s;
        .opt_flex--container{
            flex-direction: row;
            .opt_flex__item{
                width: 100%;
            }
            .circle-done{
                border-radius: 50%;
                width: 25px;
                height: 25px;
                background: #ffffff;
                position: relative;
                bottom: 7.5px;
                left:-18px;
                cursor: pointer;
                display: none;
                &:hover{
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    transition: .3s;
                }
                &:active{
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                    transition: .3s;
                }
                i{
                    font-size: 20px;
                    color: $opt_color__primary;
                    transition: transform 1s;
                    &:hover{
                        color: $success_action_new;
                    }
                }
            }
        }
        &:hover{
            background-color: $opt_color__primary;
            color: white;
            width: 100px;
            transition: width .3s linear;
            .circle-done{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .mat-form-field{
                width: 70%;
            }
        }
    }
    
}