.counter-wrapper{
  //padding: 0 30px;
    //width: 30px;
  width: 100%;
  height: 100%;
  padding: 0;
    .counter-label{
      display: none;
      margin-bottom: -3px;
      content: 'Attendees';
      font-size: 11px !important;
    }
    .opt_txt_status_cancelled{
      font-size: 10px;
    }
    .opt_flex--container{
      flex-wrap: nowrap !important;
      flex-direction: column;
    }
    .mat-form-field-infix {
      padding: 0 !important;
      border-top: 0 !important;
    }
    .mat-form-field{
        width: 100% !important;
        position: relative;
        bottom: 10px;
        height: 30px;
        .mat-input-element{
            text-align: left !important;
        }
      .mat-form-field-underline {
        display: block;
      }
    }
    .input-wrapper{
        background-color: unset;
        border-radius: 13px;
        padding: 10px;
        padding-left:0px;
        height: 20px;
        width: 50px;
        transition: width .3s;
        .savechanges, .resetchanges{
          background-color: unset;
          z-index: 1000;
          button{
            background-color: #1ce884;
            border-radius: 50%;
            height: 22px;
            width: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .mat-button-ripple{
            border-radius: 50%;
          }
          i{
            color: #fff !important;
            &.material-icons{
              font-size: 14px;
              line-height: 14px;
              padding: 0;
            }
          }
          .mat-button-wrapper{
            height:13px;
            width: 22px;
          }
        }
        .savechanges{
            position: relative;
            top: -12px;
            right: 0px;
            button{
              background-color: #1ce884;
              border-radius: 50%;
              }
              .mat-button-ripple{
                border-radius: 50%;
              }
        }
        .resetchanges{
          top: -34px;
          position: relative;
          right: -25px;
          button{
            background-color: #f5766c;
          }
        }
        .inline-spinner{
          position: absolute;
          top: 0px;
          right: 0px;
          .mat-spinner{
            height: 20px !important;
            width:20px !important;
            svg{
              height: 20px !important;
              width: 20px !important;
            }
          }
        }
        .opt_flex--container{
            flex-direction: row;
            .opt_flex__item{
                width: 100%;
            }
            // .circle-done{
            //     border-radius: 50%;
            //     width: 15px;
            //     height: 15px;
            //     background: #ffffff;
            //     position: relative;
            //     bottom: 7px;
            //     right: 8px;
            //     cursor: pointer;
            //     display: none;
            //     justify-content: right !important;
            //     &:hover{
            //         box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            //         transition: .3s;
            //     }
            //     &:active{
            //         box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            //         transition: .3s;
            //     }
            //     i{
            //         font-size: 14px;
            //         color: $opt_color__primary;
            //         transition: transform 1s;
            //         &:hover{
            //             color: $success_action_new;
            //         }
            //     }
            // }
        }
        // &:hover{
        //     background-color: $opt_color_primary;
        //     color: white;
        //     width: 65px;
        //     transition: width .3s linear;
        //     .circle-done{
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //     }
        //     .mat-form-field{
        //       width: 100%;
        //     }
        // }
    }
    .counter-icon{
      position: relative;
      bottom: 8px;
      color: #909cac;
      width: 20px;
    }
}
