@import "variables";

.opt_data-table{
  ::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    //background-color: $default-state-dark-bg;
  }

  ::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(203, 203, 203, 0.3);
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  .scrolling {
    .table {
      table-layout: inherit;
      *margin-left: -100px;/*ie7*/
    }
    &.outer {
      position: relative;
    }
  }
  .inner {
    overflow-x: auto;
    overflow-y: visible;
    //margin-left: 120px;
  }

  //td, th {
  //  @extend .scrolling;
  //  vertical-align: top;
  //  padding: 10px;
  //  min-width: 100px;
  //}
  //th {
  //  @extend .scrolling;
  //  position: absolute;
  //  *position: relative; /*ie7*/
  //  left: 0;
  //  width: 120px;
  //}



  .mat-form-field-underline {
    background-color: $opt_border-color_tertiary;
  }

  .inner{
    margin-top: 24px;
  }
  .test-wrapper{
    .opt_flex__item{
      :first-child{
        flex-grow: 5;
        padding-left: 24px;
      }
    }
  }
  .bottom-section{
    justify-content: flex-end;
    padding: 20px 0;
    //border-top: 2px solid #dddddd;
  }
  &.__header{
    height: 55px;
    background-color: $background-color_light;
  }
  .opt_modal-content {
    .opt_modal-body {
      padding: 0 24px;
    }
    .data-list{
      .mat-form-field-infix{
        width: auto;
        padding: 0;
      }
      th:not(:first-child) {
        text-align: right;
      }
      th{
        vertical-align: middle;
      }

      td{
        text-align: right;
      }
      tr{
        min-height: 55px;
        font-size: 12px;
        &:first-child{
          background-color: $background-color_light;
        }

        &.main-package__with-items{
          border-left: 3px solid $opt_color_primary;
          background-color: $table_background-color;
          .icon-icn-package{
            padding-right: 8px;
          }
        }
        &.main-items{
          border-left: 3px solid $table_border;
          background-color: $table_background-color;
        }
        &.additional-items{
          border-left: 3px solid $table_border_secondary;
          &__first-child{
            border-left: 3px solid $table_border_secondary;
            td,th{
              border-top: 1px solid $opt_color_primary;
            }
          }
        }
        &:last-child{
          border-bottom: 1px solid $opt_border-color_tertiary;
        }
      }


      .table{
        tbody{
          tr:first-child{
            th,td{
              padding: 15px 8px;
              vertical-align: middle;
            }
          }
        }
      }

      .mat-input-element{
        width: 70px;
        font-size: 12px;
        text-align: right;
      }
    }
  }
}

