.opt_data-table{

  .mat-form-field-underline {
    background-color: #ddd;
  }

  .inner{
    margin-top: 24px;
  }
  .test-wrapper{
    .opt_flex__item{
      :first-child{
        flex-grow: 5;
        padding-left: 24px;
      }
    }
  }
  .bottom-section{
    justify-content: flex-end;
    padding: 20px 0;
    //border-top: 2px solid #dddddd;
  }
  &.__header{
    height: 55px;
    background-color: #f6f6f6;
  }
  .opt_modal-content {
    .opt_modal-body {
      padding: 0 24px;
    }
    .data-list{
      .mat-form-field-infix{
        width: auto;
        padding: 0;
      }
      th:not(:first-child) {
        text-align: right;
      }
      th{
        vertical-align: middle;
      }

      td{
        text-align: right;
      }
      tr{
        min-height: 55px;
        font-size: 12px;
        &:first-child{
          background-color: #f6f6f6;
        }

        &.main-package__with-items{
          border-left: 3px solid #65bcff;
          background-color: #fefbf2;
          .icon-icn-package{
            padding-right: 8px;
          }
        }
        &.main-items{
          border-left: 3px solid #a6d1f3;
          background-color: #fefbf2;
        }
        &.additional-items{
          border-left: 3px solid #d4e1eb;
          &__first-child{
            border-left: 3px solid #d4e1eb;
            td,th{
              border-top: 1px solid #65bcff;
            }
          }
        }
        &:last-child{
          border-bottom: 1px solid #dddddd;
        }
      }


      .table{
        tbody{
          tr:first-child{
            th,td{
              padding: 15px 8px;
              vertical-align: middle;
            }
          }
        }
      }

      .mat-input-element{
        width: 70px;
        font-size: 12px;
        text-align: right;
      }
    }
  }
}

