@import "variables";

.card{
  background-color: $opt_color_white;
  border-bottom: 1px solid $opt-border-color;
  margin: 10px;
  .row{
    //font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: medium;


    .opt_flex__item{
      margin: 10px;
    }

    .doc-des{
      color: $doc-des;
    }

    .doc-sub{
      color: $doc-sub;
    }
  }
}



.btn-addTo {
  background-color: $opt_color_white;
  color: $opt_color_primary;
  width: 25%;
  border: 1px solid $opt_color_primary;
  @include border-radius(4px);
  padding: 5px;
  margin: 14px;

    &:active, &:focus, &:visited, &:active:focus, &:hover {
      background-color: $opt_color_primary;
      color: $opt_color_white;
    }
  }


nav{
    ul{
     li{
      a{
        border-radius: 50%;
      }
    }
  }
}












