.fab-overlay{
  position: fixed;
  right: 25px;
  bottom: 25px;

  .fab-toggle{
    display: block;
    text-decoration: none;
    //position: absolute;
    //bottom: -55px;
    .fab-label{
      display: inline-block;
      min-width: 110px;
      font-size: 12px;
      text-align: right;
      visibility: hidden;
      span{
        display: inline-block;
        background-color: #555555;
        color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 3px;
      }
    }
    .fab-button{
      display: inline-block;
      min-width: 65px;
      position: relative;
      text-align: center;
      .mat-fab{
        margin: 0 auto;
      }
      .fab-more-btn{
        position: absolute;
        right: -1px;
        top: -1px;
        background-color: $opt_color__secondary;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        i{
          font-size: 22px;
          color: #fff;
        }
      }
    }
  }
  .fab-list{
    display: inline-block;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    li{
      padding-bottom: 10px;
      .fab-label{
        display: inline-block;
        min-width: 110px;
        font-size: 12px;
        text-align: right;
        span{
          display: inline-block;
          background-color: #555555;
          color: #fff;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          padding: 3px;
        }
      }
      .fab-button{
        display: inline-block;
        min-width: 65px;
        text-align: center;
        .mat-mini-fab{
          margin: 0 auto;
        }
      }
      &.tab-cancel-action{
        .fab-button{
          background-color: $fab-cancel-state;
        }
      }
      &.tab-payment-action{
        .fab-button{
          background-color: $fab-payment-state;
        }
      }
      &.tab-task-action{
        .fab-button{
          background-color: $fab-task-state;
        }
      }
      &.tab-refund-action{
        .fab-button{
          background-color: $fab-refund-state;
        }
      }
      &.tab-invoice-action{
        .fab-button{
          background-color: $fab-invoice-state;
        }
      }
    }
  }

  &.active{
    .fab-list{
      visibility: visible;
      opacity: 1;
    }
    .fab-toggle{
      .fab-label{
        visibility: visible;
      }
    }
  }

}
