@import "variables";

.cancellation_policy {
  .mat-menu-content{
    .mat-menu-item {
      white-space: normal !important;
      line-height: 22px !important;
      height: auto !important;
    }
  }
}
 
.opt_additional-info{
  padding: 15px 10px 0;
  //padding: 30px 30px 30px 30px;
  .additional-details-container{
      justify-content:flex-start;
      >.opt_flex__item{
          flex-grow: 0 !important;
          flex-basis: calc(100% / 3) !important;
          padding-right:20px;
      }
      >.opt_flex__item:nth-child(3n){
          padding-right:0px;
      }
      .expiry-date-field{
          .mat-datepicker-toggle{
              button{
                position: relative;
                top: 5px;
              }
          }
      }
  }
  .mat-menu-content{
    padding: 8px;
  }
  .btn {
    &.btn-icon {
      border: 1px solid $opt-border-color_lighter;
    }
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
    //&.lower-width{
    //  width: 90%;
    //}
  }

  .font-style-08 {
    //font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3b414d;
    padding-left: 15px;
  }
  .font-style-07 {
    //font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #333e47;
  }
  .btn {
    padding: 5px;
    -webkit-appearance: none;
    background-color: transparent;
    box-shadow: none;
    border: none;


    &:active, &:focus, &:visited, &:active:focus {
      outline: none;
    }

    //.active {
    //  background-color: #4bb3fa;
    //  &:btn-icon {
    //    color: white;
    //  }
    //}
    &.btn-icon {
      //margin-top: 10px;
      line-height: 2px;
      background-color: transparent;
      padding: 0;
      //color: #f5766c;
      align-items: center;
      border: 1px solid #b7b7b7;
      &:hover{
        background-color: $opt_color_primary;
        color: $opt_color_white;
      }
    }
  }


  i {
    //float: right;
    //margin-top: 10px;
    ////margin-top: 7px;
    //line-height: 2px;

    &.material-icons {
      transform: rotate(0.03deg);

      &.x-small {
        font-size: 16px;
      }
      &.small {
        font-size: 25px;
      }
      &.medium {
        font-size: 30px;
      }
      &.large {
        font-size: 50px;
      }
      &.color {
        color: $opt_text_color_tertiary;
        &.active {
          color: $opt_color_white;
          @include box_shadow (3);
        }
        &:hover{
          color: $opt_color_white;
        }
      }
    }
  }

//div{
//.mat-select-arrow{
//
//  background: url('./shared/images/baseline-keyboard_arrow_down-24px.svg');
//  content : '<i class="material-icons">keyboard_arrow_down</i>';
//
//}
//}
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    }


  .input {
    order: 0;
    flex: 90%;
    align-self: auto;
  }

  .icon {
    order: 0;
    //flex: 10%;
    align-self: auto;
    float: right;
    padding: 2px;
  }
  .three_col_grid{
      justify-content: flex-start !important;
      >.opt_flex__item{
          padding-right:20px;
      }
      >.opt_flex__item:nth-child(3n) {
        padding-right:0px !important;
      }
  }
  
  .savechanges, .resetchanges {
    position: absolute;
    top: -1px;
    right: 25px;
    background-color: unset;
    z-index: 1000;

    button {
        background-color: #1ce884;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mat-button-ripple {
        border-radius: 50%;
    }

    i {
        color: #fff !important;

        &.material-icons {
            font-size: 14px;
            line-height: 14px;
            padding: 0;
        }
    }

    .mat-button-wrapper {
        height: 13px;
        width: 22px;
    }
}

.resetchanges {
    right: 0px;

    button {
        background-color: #f5766c;
    }
}

.inline-spinner {
    position: absolute;
    /* right: -25px; */
    top: 0;

    .mat-spinner {
        height: 20px !important;
        width: 20px !important;

        svg {
            height: 20px !important;
            width: 20px !important;
        }
    }
}
.mat-form-field-type-mat-select{
    .savechanges{
        right:45px !important;
    }
    .resetchanges{
        right:20px !important;
    }
}
.mat-form-field{
    /*.savechanges{
        right:25px !important;
    }
    .resetchanges{
        right:0px !important;
    }*/
}
}
