.opt-item-details{
  .opt-header-section{
    margin: -24px;
    background-color: #e4e8e9;
    padding: 24px 24px 1px;
    .opt-search-panel-wrapper {
      margin: -15px;
    }
    .package-select-section{
      flex-wrap: nowrap;
      flex-grow: inherit;
    }
    .package-list-section{
      float: left;
    }
    .package-select-menu{
      float: right;
    }
  }
  .opt_circle__confirmed{
    .icon-icn-item {
      font-size: 24px;
      line-height: 45px;
      color: white;
    }
  }
  .additional-features{
    .material-icons{
      font-size: 17px;
    }
  }
  .mat-content{
    padding-left: 5px;
    .notification_count{
      font-size: 12px;
      background-color: #909cac;
      border-radius: 50%;
      color: #ffff;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-weight: 500;
      display: inline-block;
    }
  }
  .package-select-section{
    padding: 10px 0 2px;
    fieldset{
      border: 1px dashed #8f9fac;
      padding: 15px 15px 0;
      margin-top: 30px;
      background-color: white;
      legend {
        display: inline-block;
        width: auto;
        background-color: #e4e8e9;
        padding: 2px 15px;
      }
    }
  }

}
