.typo-label{
  %lbl{
    height: 30px;
    width: auto;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    padding: inherit;
    font-weight: 500;
    color:$opt_color_white;
  }
  .opt_lbl{

    //height: 30px;
    width: auto;
    text-align: center;
    border-radius: 3px;
    //font-size: 12px;
    padding: inherit;
   // font-weight: 500;
   // color:$opt_color_white;

    &_primary{
      @extend %lbl;
    //  background-color:lighten( $opt_color_quaternary , 60% );
      color:$opt_text_color_primary;

    }
    &_secondary{
      @extend %lbl;
      background-color:$opt_color_primary;

    }
    &_tertiary{
      @extend %lbl;
      background-color:$opt_text_color_tertiary;

    }
    &_quaternary{
      @extend %lbl;
      background-color:$opt_color_secondary;

    }
  }


}



