body {
  // background-color: #454545;
height: 100%;

  background: linear-gradient(-45deg, #485563, #29323c, #485563, #29323c);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;

}
html{
  height: 100%;
}

.template-header{
  adding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  text-align: left;
  position: relative;
  padding: 30px 0;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
  background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;

  p{
    padding-top: 15px;
  }

}

.wrapper-tmp{
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  margin-right: auto;
  margin-left: auto;
  width: 98%;

  .button-row{
    margin-top: 0px !important;

  }

  .comp-wrap{
    background-color: #e1e1e1;
    padding: 25px;

  }
}


  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }



.typography_cage{

  background-color: #fff;
  padding: 20px;

  .typo-txt-tab{
    padding: 10px;
  }

}


.example-container{
  height: 100%;

}
