$gray-001 : #6e6e6e;
@import "variables";

.opt_loading{
position:relative;
z-index:9999;


 mat-spinner{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
 }
  .page-wrap{
    padding: 35px;
    border: 1px dotted $lbl-vat--color;
    @include box_shadow (2);
    @include border-radius(3);
    width: 525px;
    height: 248px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: $opt_color_white;
    z-index: 10000;
p{
  margin-bottom: 0px;
  color: $opt_text_color;
  font-size: 16px;
  font-weight: 200;
}
    h1{
      margin:33px 0 20px 0;
      font-size: 26px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-weight: 500;
      color: $opt_text_color;
    }
  }
}

.page-loader-msg{
  @include box_shadow (2);
  background-color: $opt_color_white;
  padding: 80px;

  &.error{


    background-image: url("/assets/oops.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;

    h1{
      margin: 350px 50px 20px 50px;
      font-size: 25px;
      font-weight: 200;
      color: $opt-color_black;

    }
    p {
      margin-bottom: 50px;
    }

    button{


      background-color: $loader_background_color;

      &:hover{
        @include box_shadow (2);
      }

      padding: 8px 15px;
      border: 0;

      a{
        color: $opt_color_white !important;
        font-size: 12px;
      }
    }
  }


  h1{
    margin: 50px;
    font-size: 25px;
    font-weight: 200;
    color: $gray-001;
  }
  p{
    margin-bottom: 20px;
    color: $gray-001;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .big-font{
    font-size: 90px;
  }

}

.page-loader{
  @include box_shadow (2);
  background-color: $opt_color_white;
  padding: 10px;
  background: linear-gradient(-45deg, $lighter_background, $liner_gradient_background, $lighter_background, $liner_gradient_background);
  background-size: 400% 400%;
  -webkit-animation: Gradient 8s ease infinite;
  -moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;

  .spinner{
    margin-left: auto;
    margin-right: auto;
  }

  mat-spinner{
    margin-left: auto;
    margin-right: auto;
    min-height: 60%;

    circle{
      stroke-width: 5% !important;
      stroke: $background-color_hover;
    }
  }

  .title{
    text-align: center;
    margin-top: 35px;
  }

  .page-wrap{
    padding: 80px;
    border: 1px dotted $lbl-vat--color;
  }

}
