
.opt_booking__list{


  .opt{
    &_opt_width-define{
      min-height: 55px;
    }
    &_expanded-view{
      margin: 15px;
    }
    &_expand--container {
      width: 100%;
      color: black;

      >.row{


        >[class^='col-']{

          min-height: 55px;
          @include flexbox();
          .opt_flex--container{
            width: 100%;
          }

        }
      }

    }

    &_circle{
      @include circle-icon(40px, #f2705b, #f2705b);
      padding-top: 2px;
      line-height: 12px;
      .date{
        font-size: 14px;
        font-weight: bold;
        color: white;
      }
      .month_year{
        font-size: 9px;
        color: white;
        font-weight: normal;
      }
    }


    &_width-calc{
      //position: absolute;
      //left: 80px;
      width: calc(100% - 60px);
      //padding: 5px;
      //text-align: left;
      padding-left: 20px;
    }


    &_expand-header {
      background-color: #f4f4f4;
      height: 55px;


      .expand-icon{
        text-align: right;
        vertical-align: middle;

        //padding-right: 23px;
        .attach_money-icon,.file_copy-icon,.launch-icon{
          color: #909cac;
          padding: 5px;
          font-size: 25px;
          padding-top: 10px;
        }

      }
    }

    .test-wrapper{
      height: 100%;
    }
    &_latest-note{
      border: 1px solid #909cac;
      align-items: center;
      display: flex;
      min-height: 60px;
      width: 100%;
      vertical-align: middle;
      margin-top: 15px;


      .item1{
        text-align: inherit;
        //padding-left: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #909cac;
        height: 100%;
        align-items: center;
        display: flex;
        min-height: 40px;
        vertical-align: middle;

        //.background{
        //  width: 100%;
        //  background-color: #909cac;
        //}
        .note-icon{
          color: white;
          //line-height: 70px;
          font-size: 30px;
          //padding-left: 15px;
          vertical-align: middle;
        }
      }
      .item2{
        padding-left: 25px;
        //background-color: #ff1744;
        height: 100%;

      }
      .item3{
        align-items: right;
        padding-right: 5px;
        //background-color: #9e9d24;
        height: 100%;
      }
    }
    &_dispatch-status{

      border: 1px solid #27bfc2;
      display: flex;
      height: 100%;
      text-align: inherit;
      width: 100%;
      //.bg-color{
      //  padding-right: 5px;
      //}

      .item1{
        background-color: #27bfc2;
        padding-right: 10px;
        padding-left: 10px;
        height: 100%;
        //width: 100%;
        .dispatch-icon{
          color: white;
          //line-height: 40px;
          font-size: 30px ;
          //padding-left: 15px;
        }
        //line-height: 3px;
      }
      .item2{
        color: #27bfc2;
        padding-left: 25px;
        height: 100%;
      }
    }

  }



  .opt_price-section{
    padding-right: 0;
    text-align: right;

    .price{
      text-align: left;
      padding-left: 15px;
    }
  }


  .mat-expansion-panel-body{
    padding: 0;

    .__multi-buttons{
      padding-left: 50px;
    }

    .__include-package_line{
      border-top:1px solid #d9d9d9;
    }

    .__new-items_line{
      border-top:1px dashed #4bb3fa;
    }
  }

  .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    flex-grow: 0;
    margin-right: 0;

    .btn {
      &.btn-select {
        border: 1px solid #b7b7b7;
        //outline-color: #0000;
        //border-radius: 4px;
        //background-color: $btn-active-color;

        i {
          color: #fff;
        }
      }
      &.btn__frozen {
        border: 1px solid #b7b7b7;
        //outline-color: #0000;
        //border-radius: 4px;
        background-color: $btn-frozen-color;

        i {
          color: #fff;
        }
      }
    }
  }

  mat-accordion {
    .mat-expansion-panel-header[aria-disabled=true] {
      color: inherit;
    }
    .mat-expansion-panel.opt-expand--line.mat-expanded{
      border-left: 4px solid #4bb3fa;
    }
    .mat-expansion-panel-header {
      padding: 0;
      margin-left: 4px;
      margin-right: 4px;

      @include respond-to('small') {
        min-height: 110px;
        height: 110px !important;

      }

      @include respond-to('medium') {
        min-height: 55px;
        height: 55px !important;

      }
      @include respond-to('large') {

        min-height: 55px;
        height: 55px !important;
      }


      > .row {

        > [class^='col-'] {

          min-height: 55px;
          @include flexbox();
          .opt_flex--container {
            width: 100%;
          }

        }

      }
    }
  }

  .booking-summary {
    .flex-row {
      margin-bottom: 15px;

      .col {
        &:nth-child(2) {
          background-color: white;
          border-right: 1px #909cac solid;
          border-left: 1px #909cac solid;
        }
        &:nth-child(1){
          .img-circle {
            display: none;
          }
        }
        .btn.btn-icon{

            display: none;

        }
        .mat-select-arrow-wrapper{
          visibility: hidden    ;
        }
        pointer-events: none;

      }

    }
  }

}

//.test{
//  width: 100%;
//  height: 75px;
//}
//
//.test-wrapper{
//  height: 100%;
//}
//
//.test-inner{
//  background-color: red;
//  height: 100%;
//}
//
//.test-inner-expand{
//  background-color: green;
//  height: 100%;
//}
//
//.test-inner-2{
//  background-color: red;
//  height: 100%;
//}
