@import "variables";

.opt-section__heading{

.section-heading{


  &.__main{
    //border: 1px solid red;
    box-shadow: none;

    .__title{
      &:hover{
        background-color: $opt_color_white;
      }
      border-bottom: 1px solid $opt-border-color;
      padding: 0 24px 0px 0px;

      .mat-content{

        >h1{
          border-bottom: 4px solid $opt_color_primary;
          line-height: 50px;
          padding-left: 3px;
          padding-right: 3px;
          font-weight: 600 !important;
        }

      }

    }

    .mat-expansion-panel-content{
      >.mat-expansion-panel-body{
        padding: 0px;
        padding-top: 2px;


      }

    }

  }



}

}
