@import "variables";

.mat-icon-button{
  &.down-arrow{
    height: 100%;
    width: 100%;
    line-height: 1;
  }
}

.opt_flex--container{
  &.al_cen{
    align-items: center;
  }
}

.icon_btn_group{
  padding-right: 15px;
  .btn-color-default{
    span{
      font-size: 17px;
      &.material-icons{
        font-size: 18px;
        vertical-align: middle;
        transform: rotate(0.03deg);
      }
    }
  }
}

.text_solo_wrapper{
  padding: 0 15px;
}

.dflex{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.three_div_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  height: 100%;
  .three_div_solo{
    margin-right: 10px;
  }
  .three_div_combo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &.reverse{
    flex-direction: row-reverse;
    .three_div_solo{
      margin-left: 10px;
      margin-right: 0;
    }
  }
}

.dual_line_details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
}

.solo_wrapper{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 15px;
  flex-direction: column;
  justify-content: center;
  &.fixed_width{
    width: 100px;
  }
}

mat-expansion-panel{
  &.package_expansion_panel{
    box-shadow: none !important;
    //margin-top: 10px;
    .mat-expansion-panel-header{
      padding: 5px;

      .opt_flex--container{
        &.inner{
          .opt_flex__item--inherit{
            flex-shrink: 0;
          }
        }
        &.outer{
          .opt_flex__item--inherit{
          }
        }
      }

      &[aria-disabled=true]{
        color: inherit;
      }
    }
    //.mat-expansion-panel-content{
    //  box-shadow:0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    //}
    .mat-expansion-panel-body{
      padding: 8px 5px !important;
    }

    .package_main_details{
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      .package_icon{
        height: 45px;
        width: 45px;
        background-color: #27bfc2;
        color: #fff;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        flex-shrink: 0;
      }
      .package_details{
        padding: 0 15px;
      }
    }

    &.mat-expanded{
      margin-bottom: 50px;
      .mat-expansion-panel-content{
        box-shadow:0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      }
    }
  }
}


.opt_package-popup{

  .opt_booking__list {
    .mat-accordion {
      .mat-expansion-panel-header {
        margin: 0;
      }
    }
  }
  .opt-expand--line {
    &.mat-expanded{
      border-left: 4px solid $opt_color_primary;
      margin-bottom: 50px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      transition: 0.3s;
    }
  }
  .mat-expansion-panel {
    &:hover {
      .mat-expansion-panel-header {
        -webkit-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
        background-color: $expansion_header_color;
      }
    }
  }

  .opt_calendar-expand {
    width: 900px;
    position: absolute;
    background-color: $opt_color_white;
    z-index: 999;
  }
  .opt_linked-packages {
    width: 1053px;
    position: absolute;
    background-color: $opt_color_white;
    z-index: 999;
    left: -353px;
  }

  .mat-expansion-panel-content, .mat-content{
    overflow: inherit!important;
    visibility: visible;
  }
  .opt-search-panel-wrapper{
    background-color: $background-color;
    margin: -24px;
  }
  .html-code{
    display: none;
  }
  .icon-icn-package{
    font-size: 24px;
    line-height: 45px;
    color: $opt_color_white;
  }
  .top-label{
    padding: 20px 15px;

    .opt_flex__item--inherit{
      padding-left: 40px;
    }
  }
  .package-wrapper{
    padding-top: 40px;
    .mat-slide-toggle{
      margin-left: 10px;
    }
    i{
      font-size: 12px;
      //padding-right: 5px;
    }
  }
}

.opt_package-details{
  .align-content{
    margin-left: 140px;
  }
  .opt_expand--container{
    padding: 0 5px 0 5px !important;
  }
  &.opt_booking__list{
    &.opt_booking__detail{
      .opt_counter{
        display: block;
      }
    }
  }
  .icon__cage{
    width: auto;
    .opt_circle{
      &__private{
        position: relative;
        @include circle-icon(45px, $opt_color_secondary, $opt_color_secondary);
        .opt_circle__sub{
          position: absolute;
          @include circle-icon(17px, $opt_color_tertiary, $opt_color_tertiary);
          top: -3px;
          right: -3px;
        }
        &.__bespoke {
          .icon-icn-package{
            &:before{
              content: '\e916';
            }
          }
          .opt_circle__sub{
            display: inline-block;
          }
        }
        .opt_circle__sub{
          display: none;
        }
      }
      &__public{
        position: relative;
        @include circle-icon(45px, $opt_color_type, $opt_color_type);
        .opt_circle__sub{
          position: absolute;
          @include circle-icon(17px, $opt_color_tertiary, $opt_color_tertiary);
          top: -3px;
          right: -3px;
          .__standard {
            .opt_circle__sub{
              display: none;
            }
          }
        }
        &.__bespoke {
          .icon-icn-package{
            &:before{
              content: '\e916';
            }
          }
          .opt_circle__sub{
            display: inline-block;
          }
        }
        .opt_circle__sub{
          display: none;
        }
      }

    }
  }
  .opt-typo-subhead-2 {
    &.price {
      font-weight: 600;
      padding-left: 10px;
    }
  }
  .price--value__icon{
    text-align: left;
    padding-left: 10px;
    height: 35px;
  }
  .price{
    text-align: right!important;
    line-height: 20px;
  }
  .inc-label{
    height: 35px;
  }
  .cover-icons{
    font-size: 16px;
  }

  .opt_expand--container{
    min-height: 50px;
    .package-expand-description {
      padding-left: 3px;
    }
    .icon__cage{
      &.__multi-buttons{
        padding-left: 52px!important;
        [class^='icon-icn-']{
          font-size: 14px !important;
        }
        .material-icons{
          font-size: 14px;
        }
      }
    }
  }
  .opt_counter__item{
    align-items: center;
  }
  .opt_counter{
    .opt_flex--container{
      justify-content: center;
    }
  }
  .opt_unit__price{
    text-align: right;
  }
  .mat-expansion-panel-header-description{
    flex-wrap: wrap;
    .btn-select{
      @include respond-to('x-small') {
        flex-basis: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
      }

      @include respond-to('small') {
        flex-basis: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
      }
      @include respond-to('medium') {
        flex-basis: 0;
      }
      @include respond-to('large') {
        flex-basis: 0;

      }
    }
  }

  mat-accordion{
      .mat-expansion-panel-header {
        @include respond-to('medium') {
          height: auto !important;
          //background-color: #9e9d24;
        }
        @include respond-to('small') {
          height: auto !important;
          //background-color: red;
        }
      }
    }

  .opt_linked-packages{
    //margin: 0 10px;
    //padding:10px;
    //background-color: $opt_color_white;

    .opt_package-details {
      .opt_expand--container {
        .icon__cage {
          .__multi-buttons {
            padding-left: 0 !important;
          }
        }
      }
    }
    .outer-wrapper{
      overflow-y: auto;
      //padding: 0 15px;
      .mat-expansion-panel-header{
        padding: 0 15px;
      }
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        border-radius: 10px;
        background-color: $background-color!important;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      }

      .inner-wrapper{
        width: 100% !important;
        border-bottom: 1px dashed $separator-border-color;
        padding: 15px;
        &:last-child{
          border-bottom: none;
        }
      }
      .mat-input-wrapper{
        margin: 0 3px;
      }

      .opt_counter__item{
        width: 75px;
        padding-left: 57px;
        .opt_counter{
          .mat-form-field-infix{
            width: 30px;
          }
        }
      }
      .mat-input-wrapper{
        margin: 0 3px;
      }
      .linked-icon{
        color: $opt-border-color_darker;
        padding-right: 20px;
      }
    }
  }

  .opt_calendar-expand{
    margin: 0;
    padding:10px;
    background-color: $opt_color_white;

    .outer-wrapper {
      //overflow-y: auto;
      //overflow-x: hidden;

      .time-slot{
        padding: 8px 15px;
        border-bottom: 1px dashed $separator-border-color;
        &:last-child{
          border-bottom: none;
        }
      }
      .inner-wrapper {
        .time-slot-selection{
          overflow-y: auto;
          padding: 0 15px;
          .edit_area{
            padding: 0 20px;
          }
          max-height: 130px;
          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            border-radius: 10px;
            background-color: $background-color!important;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
          }
        }
        .date-hover{
          .date-display{
            width: 130px;
            height: 130px;
            vertical-align: middle;
            background-color: $central-summary-header;
            text-align: center;
            //display: flex;
            //flex-direction: column!important;
            //align-items: center!important;
            //justify-content: center!important;
            //min-height: 130px;
            border: 1px dashed $opt-border-color_darker;
            padding: 20px;
            .material-icons{
              color: $separator-border-color;
              font-size: 40px;
              padding-bottom: 25px;
            }

          }
          .date-select{
            width: 130px;
            height: 130px;
            vertical-align: middle;
            &:hover{
              background-color: $opt_status_good_availability;
              transition: 0.3s;
              .material-icons{
                color: $opt_color_white;
              }
              .mat-form-field-underline{
                background-color: $opt_color_white;
              }
            }
            background-color: $central-summary-header;
            text-align: center;
            //display: flex;
            //flex-direction: column!important;
            //align-items: center!important;
            //justify-content: center!important;
            min-height: 130px;
            border: 1px dashed $opt-border-color_darker;
            padding: 20px;
            .material-icons{
              color: $separator-border-color;
              font-size: 40px;
              padding-bottom: 25px;
            }
            .date-field{
              width: 90px;
              align-items: center;
            }
          }
        }
      }
      .mat-input-wrapper{
        margin: 0 3px;
      }
      .opt_counter{
        .mat-form-field-infix{
          width: 30px;
        }
      }
    }

  }
  .individual-row{
    //padding: 15px;
    .material-icons{
      //padding-right: 15px;
    }
  }

  .availability-icon{
    &.__last-few{
      color: $opt_status_few_availability;
    }
    &.__good-availability{
      color: $opt_status_good_availability;
    }
    &.__limited{
      color: $opt_status_provisional_multiple;
    }
  }

  .linked-calendar-both{
    background-color: $opt_color_white;
    .opt_calendar-expand{
      margin: 0;
      padding: 10px;
    }
    .opt_linked-packages{
      background-color: $opt_color_white;
      margin: 0;
      padding: 0;
      .linked-package-text{
        padding: 20px;
      }
      .outer-wrapper{
        border-top: 2px solid $separator-border-color;
        overflow: hidden;
        background-color: $central-summary-header;
      }
    }
  }

}
//Message popover styles
.message-popover-wrapper{
  padding: 15px;
  background-color: $opt_color_white;
  .mat-expansion-panel{
    .mat-expansion-panel-header{
      .row{
        width: 100% !important;
      }
    }
    .mat-expansion-panel-body{
      padding:0px;
    }
    .mat-expansion-panel{
      box-shadow: none;
      .mat-expansion-panel-body{
        .row{
          width: auto;
        }
        padding: 10px 24px 16px;
        .opt_flex__item{
          min-height: 20px;
        }
      }
    }
  }
  .message-popover-btn{
    margin-top: 20px;
  }
}
.package-font-12{
  font-size: 12px;
}
.opt_cart{
  background-color: $opt_color_white;
  .opt_cart-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    padding: 10px;
    .package-list{
      //padding-top: 30px;
      flex-grow: 1;
      .mat-expansion-panel-content{
        box-shadow: none;
      }
    }
    .package-alert-section{
      min-height: 80px;
      background-color: $background-color;
      .icon{
        color: $opt-border-color_darker;
        font-size: 50px;
        padding-left: 10px;
      }
      .text{
        padding-left: 10px;
      }
    }
    .footer{
      border-top: 2px solid $separator-border-color;
      margin-top: 80px;
      .bottom-section{
        padding: 20px;
        justify-content: flex-end;
      }
    }
    .btn-select{
      &:focus, &:active, &:hover, &:visited{
        background-color: $no-color--state !important;
        color: $opt_color_white;
        border: none;
      }
    }

    .package-list{
      .package-name{
        padding: 10px;
      }
      .loop-class{
        &:first-child {
          .mat-expansion-panel-header {
            border-top: 2px solid $separator-border-color;
          }
        }
      }
    }
  }
}
.package-date--edit{
  .mat-input-infix {
    display: none;
  }
  .mat-input-element{
    display: none;
  }
  .mat-input-underline{
    display: none;
  }
}
.opt_modal-content{

  .opt_booking__list {

    .opt_width-calc {
      width: unset;
      .opt_expand--container {
      }
    }
  }
  .inner-icon-black{
    .icon-icn-package{
      color: $opt_color_white!important;
    }
  }
  .inner-action{
    .cart-wrapper{
      border-right: 1px solid $separator-border-color;
      display: inline-block;
      padding: 0 15px;
      position:  relative;
      .notification_count{
        position:  absolute;
        font-size: 10px;
        background-color: $icon_dark;
        padding: 3px;
        border-radius: 50%;
        top: -4px;
        right: 5px;
        color: $opt_color_black;
      }
    }
  }
  .opt_package-popup{
    &.opt_modal-body{
      background-color: $default-state-dark-bg;
    }
  }
  .opt_item-popup{
    &.opt_modal-body{
      background-color: $default-state-dark-bg;
    }
  }
}


.opt_item-popup{
  .ref_no{
    position:  relative;
    .notification_count{
      font-size: 10px;
      background-color: $default-state-dark-bg;
      padding: 3px;
      border-radius: 50%;
      right: 5px;
      color: $opt_color_black;
    }
  }
}

.mat-calendar-table{
  tr{
    td{
      .mat-calendar-body-cell-content{
        &.selected-dates {
          background-color: $opt_color_primary;
          color: $opt_color_white;
        }
        &.unavailable-dates {
          background-color: $opt-border-color;
          color: $opt-border-color_darker;
        }
        &.current-date {
          border: 1px solid $opt_color_primary;
        }
        &.holidays {
          background-color: $no-color--state;
          opacity: 0.5;
        }
      }
    }
  }
}
.package_date--input{
  .outer-wrapper{
    .opt_flex--container{
      padding: 30px;
    }
  }
}

.width-define {
  width: 100%;
  .default-item {
    width:50px;
    margin-right: 15px;
  }
  .changing-item {
    width: calc(100% - 50px);

    .item1{
      width: 50px;
    }
    .width-calculate {
      width: calc(100% - 50px);
      .item2{
        width: 33%;
        padding-right: 60px;
      }
      .item3{
        width:25%;
      }
      item4{
        width: 25%;
      }
    }
  }
}
.package-price-wrapper {
  padding-right: 15px;
  width: 100%;
  .item1 {
    width: 50px;
  }
  .item4 {
    width: 88px;
  }
  .price-section {
    width: calc(100% - 130px);
    .item2{
      width: 50%;
    }
    .item3{
      width: 50%;
    }
  }
}
