.opt-package-selection-modal{
  background-color: white;
  margin: 10px;
  mat-checkbox{
    padding-right: 15px;
  }
  .select-all{
    line-height: 29px;
  }

  .outer-wrapper{
    padding: 20px 10px ;

    .header-wrapper{
      padding-bottom: 20px;
      justify-content: flex-end;
    }
    .body-top{
      padding: 0 0 30px 15px;
      border-bottom: 2px solid lightgray;
      .no-of-packages {
        padding-left: 40px;
      }
    }
    .footer-wrapper{
      padding: 20px 0;
      justify-content: flex-end;
    }
    .opt_package-details{
      padding-top: 20px;
    }
    .packages{
      padding: 15px;
      border-bottom: 1px solid lightgray;
    }
  }
}
