.opt_package-details{
  &.opt_booking__list{
    &.opt_booking__detail{
      .opt_counter{
        display: block;
      }
    }
  }
  .price--value__icon{
    text-align: left;
    padding-left: 10px;
    height: 35px;
  }
  .price{
    text-align: right!important;
    line-height: 20px;
  }
  .inc-label{
    height: 35px;
  }
  .cover-icons{
    font-size: 16px;
  }

  .opt_expand--container{
    min-height: 50px;
    .package-expand-description {
      padding-left: 3px;
    }
    .icon__cage{
      &.__multi-buttons{
        padding-left: 75px!important;
      }
    }
  }
  .opt_counter__item{
    align-items: center;
  }
  .opt_counter{
    .opt_flex--container{
      justify-content: center;
    }
  }
  .opt_unit__price{
    text-align: right;
  }
  .mat-expansion-panel-header-description{
    flex-wrap: wrap;
    .btn-select{
      @include respond-to('x-small') {
        flex-basis: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
      }

      @include respond-to('small') {
        flex-basis: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
      }
      @include respond-to('medium') {
        flex-basis: 0;
      }
      @include respond-to('large') {
        flex-basis: 0;

      }

    }
  }

  mat-accordion{
      .mat-expansion-panel-header {
        @include respond-to('medium') {
          height: auto !important;
          //background-color: #9e9d24;
        }
        @include respond-to('small') {
          height: auto !important;
          //background-color: red;
        }
      }
    }

  .opt_linked-packages{
    margin: 0 10px;
    padding: 0 40px;
    overflow-y: scroll;

    .outer-wrapper{
      padding: 15px;
      border-bottom: 1px dashed lightgrey;

      &:last-child{
        border-bottom: none;
      }
      .opt_counter{
        .mat-form-field-infix{
          width: 30px;
        }
      }
      .linked-icon{
        color: darkgray;
      }
    }
  }
}
