.opt {
  &_payment-modal {
    .mat-dialog-title{
      margin: 0 !important;
    }
    .icon__tabs {
      .tab-icon-label {
        padding-top: 10px;
      }
    }
    .mat-dialog-content{
      max-height: unset;
      overflow: hidden;
    }

    .opt-section__heading {
      .expand-outer-wrapper{
        padding: 30px 0;
        .expand-inner-wrapper {
          padding: 25px 15px;
          background-color: #f5f5f5;
            &:first-child {
              border-bottom: 1px solid #e0e0e0;
          }
          .mat-checkbox-label {
            padding-left: 15px;
          }
        }
      }
    }
    .billing-info-section, .notes-section {
      .expand-outer-wrapper{
        padding: 30px 0;
        .billing-inner-wrapper {
          padding: 15px;
          border: 1px solid #e0e0e0;
          .opt_flex__item {
            padding: 15px;
          }
          .mat-form-field {
            width: 100%;
          }
        }
      }
    }
  }
}


.payment_modal{
  .mat-dialog-container{
    padding: 0;
  }

  .mat-dialog-content{
    padding: 0;
    margin: 0;
  }

  .mat-tab-labels{
    justify-content: center;
  }
}


.modal_header{
  .modal_header--icon{
    padding: 17px;
    background-color: $opt_color__tertiary;
    i.material-icons{
      font-size: 36px;
      color: #fff;
    }
  }
  .modal_header--title{
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .modal_title{
      font-size: 24px;
      font-weight: 500;
      line-height: 1.4;
      margin: 0;
    }
    .modal_subtitle{
      font-size: 14px;
      line-height: 14px;
      margin: 0;
    }
  }
  .modal_header--actions{
    height: 100%;
  }
}


.icon__tabs{
  .mat-tab-label-container{
    background-color: #e4e8e9;
    padding: 15px;
    .mat-tab-label{
      background-color: transparent;
      height: auto;
      min-width: unset;
      opacity: 1;
      overflow: visible;
      &.mat-tab-label-active{
        background-color: transparent;
        .tab-icon-wrapper{
          border: 2px solid #00abed;
          i.material-icons{
            color: #393c41;
          }
        }
        .tab__icon_label{
          color: #393c41;
        }
        &:after{
          content: '';
          bottom: -15px;
          position: absolute;
          border-bottom: 10px solid #fff;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
      }
      &:not(.mat-tab-disabled){
        &:focus{
          background-color: transparent;
        }
      }
    }
    .mat-ink-bar{
      display: none;
    }
  }

  .tab-icon-wrapper{
    padding: 0 12px;
    background-color: #fff;
    border: 2px solid #fff;
    width: 100px;
    height: 70px;
    i.material-icons{
      color: #a7aaaf;
      line-height: 70px;
      font-size: 36px;
    }
  }

  .tab__icon_label{
    margin-top: 10px;
    color: #b8bcbf;
  }

  .mat-tab-header{
    border: none;
  }

  //&.mat-tab-group{
  //  margin: 0 -24px;
  //}

  .mat-tab-body-wrapper{
    padding: 15px;
    .mat-tab-body-content{
      overflow: hidden;
    }
  }
}

.balance_section{
  font-family: 'Roboto', sans-serif !important;
  background-color: #343e47;
  color: #fff;
  padding: 15px;
  display: inline-block;
  max-width: 215px;

  .additional_info{
    border: none;
    padding-top: 0;
    ul{
      display: block;
    }
    p{
      display: none;
    }
  }

  &.refund{
    background-color: #ffb200;
    .additional_info{
      border-top: 1px solid #fbd46b;
      padding-top: 10px;
      ul{
        display: none;
      }
      p{
        display: block;
      }
    }
  }
  &--title{
    font-size: 16px;
    font-weight: 500;
  }
  &--balance{
    padding: 20px 0;
    font-size: 45px;
  }
  &--date_list{
    li{
      padding: 5px 0;
      border-top: 1px solid #77818a;
      font-weight: 300;
      &:last-child{
        border-bottom: 1px solid #77818a;
      }
    }
    .--date{
      margin-right: 45px;
    }
  }
  .sup-mark{
    font-size: 15px;
    vertical-align: top;
    &--mini{
      font-size: 10px;
      padding-right: 3px;
      vertical-align: top;
    }
  }
}
