@import "variables";

.custom-dialog-container{
  &.package_search_modal{
    height: auto !important;
    width: 80% !important;
    margin: auto !important;
  }
}

@media(max-width: 1024px){
  .custom-dialog-container{
    &.package_search_modal{
      height: 100% !important;
      width: 100% !important;
      margin: auto !important;
      max-width: unset !important;
    }
    .note-button-row{
      bottom:0% !important;
      width:100% !important;
      max-width: 100vw !important;
    }
    .opt_modal-header{
      width: 100% !important;
      max-width: 100vw !important;
    }
  }
}
.w40modal{
  .opt_modal-content{
    .mat-dialog-content{
      position: relative;
      .opt_modal-header{
        border-radius: 4px 4px 0 0;
        position: fixed;
        width: 40%;
        z-index: 9999;
        background-color: #fff;
        opacity: 1;
      }
      .opt_modal-body{
        //margin-top: 60px;
        background-color: #fff;
      }
    }
  }
}
.w60modal{
  .opt_modal-content{
    .mat-dialog-content{
      position: relative;
      .opt_modal-header{
        border-radius: 4px 4px 0 0;
        position: fixed;
        width: 60%;
        z-index: 9999;
        background-color: #fff;
        opacity: 1;
      }
      .opt_modal-body{
        //margin-top: 60px;
        background-color: #fff;
      }
    }
  }
}

.w70modal{
  .opt_modal-content{
    .mat-dialog-content{
      position: relative;
      .opt_modal-header{
        border-radius: 4px 4px 0 0;
        //position: fixed;
        //width: 70%;
        z-index: 9999;
        background-color: #fff;
        opacity: 1;
      }
      .opt_modal-body{
        //margin-top: 60px;
        background-color: #fff;
      }
    }
  }
}
.w80modal{
  .opt_modal-content{
    .mat-dialog-content{
      position: relative;
      .opt_modal-header{
        border-radius: 4px 4px 0 0;
        //position: fixed;
        //width: 80%;
        z-index: 9999;
        background-color: #fff;
        opacity: 1;
      }
      .opt_modal-body{
        //margin-top: 60px;
        background-color: #fff;
      }
    }
  }
}

.w90modal{
  .opt_modal-content{
    .mat-dialog-content{
      position: relative;
      .opt_modal-header{
        border-radius: 4px 4px 0 0;
        position: fixed;
        width: 90%;
        z-index: 9999;
        background-color: #fff;
        opacity: 1;
      }
      .opt_modal-body{
        //margin-top: 60px;
        background-color: #fff;
      }
    }
  }
}

.opt_modal-content {
  max-height: 95vh;

  .mat-dialog-content{
    position: relative;
    .opt_modal-header{
      border-radius: 4px 4px 0 0;
      //position: fixed;
     // width: 80%;
     width: 100%;
     max-width: 80vw;
      z-index: 9999;
      background-color: #fff;
      opacity: 1;
    }
    .opt_modal-body{
      //margin-top: 60px;
      background-color: #e1e1e1;
    }
  }

  .opt_modal-header {
    margin-bottom: 3px;
    @include shadow-2dp();
    .test-wrapper {
      height: 100%;
      min-height: 60px;

    }

    .test-inner {
      background-color: $popup_heading_color;
      display: flex;
      border-radius: 4px 0 0 0;
      .inner-icon{
        align-self: center;
        padding-left: 25px;
        padding-right: 25px;
        i {
          font-size: 35px;
          color: $popup_main_icon;
        }

      }
      .inner-icon-black{
        align-self: center;
        padding-left: 25px;
        padding-right: 25px;
        i {
          font-size: 35px;
          color:$opt_color_white;
        }

      }
    }

    .test-inner-expand {
      display: flex;
      .title{
        padding-left: 20px;
        align-self: center;
      }
    }

    .test-inner-2 {
      display: flex;
      .inner-action{
        align-self: center;
        padding-right: 24px;
        color: $popup_icon_color;

        button{
          -webkit-appearance: none;
          background-color: transparent;
          box-shadow: none;
          border: none;
          &:active, &:focus, &:visited, &:active:focus {
            outline: none;
          }
        }
        .icon1{
          padding-right: 7px;
        }
      }
    }

  }
  .opt_modal-body{
    padding: 24px;
    overflow: auto;
   // max-height: 500px;
   

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px gray;
      background-color: $popup_icon_color;
    }

  }
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  border-radius: 4px;
  .mat-dialog-content{
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: none;
  }
  .mat-dialog-title{
    margin: 0;
  }
}