@import "variables";
.opt-search-panel-wrapper{
  margin: -15px -15px 0 -15px;
  padding: 15px 15px 15px 15px;
  background-color: $icon_color_darker;
}

.opt{

  &_search-panel {
    border-radius: 3px;
    background-color: $opt_color_white;
    position: relative;
    .outer-wrapper {
      padding-left: 10px;
    }
    .search-load{
      width:calc(100% - 5px);
      position: absolute;
      height: calc(100% - 5px);
      z-index: 9998;
      background: -moz-linear-gradient(top, rgba(238,238,238,0.8) 0%, rgba(238,238,238,0.8) 1%, rgba(238,238,238,0.8) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(238,238,238,0.8) 0%,rgba(238,238,238,0.8) 1%,rgba(238,238,238,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(238,238,238,0.8) 0%,rgba(238,238,238,0.8) 1%,rgba(238,238,238,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cceeeeee', endColorstr='#cceeeeee',GradientType=0 ); /* IE6-9 */
      display: flex;
      justify-content: center;
      align-items: center;

      mat-spinner{
        margin: 0 auto;

      }
      input{
        max-width: 250px;

      }

    }
    .multiselect-dropdown {
      .dropdown-btn {
        .selected-item {
          padding: 0 3px 0 0 !important;

        }
      }
    }
   .opt_chip-set--text{
     font-size: 12px;
   }
    .main--input{
      height: 100%;
    }
    padding: 3px;
    border: 1px solid $separator-border-color;
    .opt_flex--container{
      flex-wrap: wrap;

      .input-field{
        width: 100%;
        outline: none;
      }
    }
    .mat-form-field-wrapper{
      padding-bottom: 0;
      height: 30px;
    }
    .btn{
      //border: 1px solid $separator-border-color;
      padding: 5px;
      color: $opt_color_white !important;

      &.__normal{
        background-color: $badge-success-bg;
      }
      &.__advance{
        background-color: $unavailable-state-dark-bg;
      }
    }
    .mat-input-container >  mat-form-field, ng-tns-c4-0, mat-primary, mat-form-field-type-mat-input, mat-form-field-can-float, mat-form-field-hide-placeholder,mat-form-field-should-float{
      display: none;
    }
    input{
      border: none;
    }
    label{
      font-size: 12px;
    }
    .mat-input-underline {
      &.mat-form-field-underline{
        display: none;
      }
    }
    .mat-menu-panel{
      .mat-menu-item{
        .material-icons{
          padding-right: 20px;
        }
        .mat-menu-item:hover{
          color: #ffffff;
        }
      }
    }
    .opt_chip{
      .dropdown-cage{
        display: none;
      }
    }
    .html-code{
      display: none;
    }
  }

}

.filter-section{
  margin-top: 15px;
  padding-left: 15px;
}
