@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.opt--tab-panel {
  .mat-tab-body{
    padding-top: 30px;
  }
  .mat-tab-body {
    padding-top: 30px;
  }
}
.input {
  .mat-form-field-infix {
    width: auto !important;
  }
}
//.basic-container {
//  padding: 5px;
//  min-height: auto;
//}

//}
//.version-info {
//  font-size: 8pt;
//  float: right;
//}
//
//
