.opt{
  &_chip-set{
    display: flex;
    font-size: 12px;
    &--text{
      padding-right: 10px;
      padding-left: 4px;
    }
    &--label{
      padding-bottom: 5px;
      padding-left: 8px;
    }

    .opt_chip--wrapper{
      background-color: $badge-undefined-bg;
      border-radius: 20px;
      padding: 5px 5px 5px 5px;
      min-width: 100px;
      color: white;
      font-weight: 400;

      input, mat-select{
        background-color: $badge-undefined-bg;
        border: none;
      }
      .mat-form-field-infix{
        padding: 2px;
        border-top: 0;
      }
      .mat-form-field-wrapper{
        padding-bottom: 0;
      }
      .icon-set{
        float: right;
        //border-left: 1px solid white;
        padding-left: 5px;
      }
      i{
        font-size: 14px;
      }
    }
    .mat-input-underline {
      &.mat-form-field-underline{
        display: none;
      }
    }
    .lbl {
      font-weight: 400;
      font-size: 13px;
      padding: 2px;
    }
    .mat-select-value {
      line-height: 1;
      .mat-select-value-text{
        color: white;
      }
    }


  }
}

.opt_drop-down{
  //padding: 20px;
  //border: 1px solid darkgray;
  max-height: 150px;
  max-width: 25%;
  overflow: auto;
  .scrollbar
  {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
  }

  input{
    border: none;
    height: 40px;
    padding: 5px;
  }
  li{
    //padding-bottom: 5px;
    font-size: 12px;
  }
  i{
    float: right;
    padding: 10px;
    font-size: 20px;
  }


}

.opt_drop-down{
  &.opt--depth__2 {
    &::-webkit-scrollbar-track{
      //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #fff;
    }
    &::-webkit-scrollbar{
      width: 5px;
      background-color: #fff;
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #000;
    }
  }
}
