@import 'colors';


// Typography
$font-family-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$font-family-serif: 'Roboto Slab', 'Times New Roman', serif !default;
$font-family-rubik:  'Rubik', sans-serif;



$prefix :'opt_';
$ci-bg--color:red;
$ci-col-hover:green;
$primary:blue;




//optimo brand and color codes .....................

$opt_color__primary :#4bb3fa;
$opt_color__secondary :#27bfc2;
$opt_color__tertiary :#f5c70e;





$opt-line-height-base: 18px;
$opt-line-height-paragraph: 16px;

/*$opt-text-color: #1a1a1a;*/
$opt-line-color: #91a0ad;

//text colours..............................................
$opt-text-color__primary:#3a424d;
$opt-text-color__secondary:#909cac;
$opt-text-color__tertiary:#27bfc2;
$opt-text-color__quaternary:#4bb3fa;


//Link Colours..............................................
$opt-link-color__primary:#3a424d;
$opt-link-color__secondary:#27bfc2;



//button colors..............
$opt-btn-color-default : #91a0ad;


//state colors..............
$no-color--state: #f4493c !default;
$active-color--state: $green-700 !default;
$mute-color--state: $grey-700 !default;
$firm-color--state: $blue-700 !default;
$alert-color--state: $yellow-700 !default;
$definite-color--state: $blue-grey-700 !default;
$quote-color--state: $brown-700 !default;






$accent:#2196F3 !default;
$central-brand-primary :red;
$white-color:#fff;

$lbl-vat--color:#eee;
$lbl__price-details:#90a4ae;


$package-color--product: #27bfc2;
$package-color--type: #f5c70e;















//button colors----------------------
$btn-active-color:$active-color--state;
$btn-frozen-color:$no-color--state;



//Product  colors
//$hotel-color--product: $purple !default;
//$insurance-color--product: $yellow-700 !default;
//$car-color--product: $light-blue-700 !default;
$package-color--product: $package-color--product !default;
//$flight-color--product: $blue-700 !default;
//$generic-color--product: $orange-700 !default;
//$transfer-color--product: $green-700 !default;
$tour-color--product: $red-700 !default;


//Header and Summary Header
$central-header: $central-brand-primary;
$central-header-content-color: $white-color;
$central-summary-header: #f9f9f9 !default;
$central-content-body-color: $white-color !default;

$central-page-summery-lbl-border-color: #d6d6d6 !default;

$font-color:                 #66615b !default;

/* Booking Summary */
$badge-danger-bg : #f5766c;
$badge-success-bg : #27bfc2;
$badge-default-bg : #fff;
$badge-undefined-bg : #909cac;
$badge-font-color : #fff;
$badge-font-color_danger : #b6605a;

$unavailable-state-bg : #f5766c;
$unavailable-state-dark-bg : #b1554e;

$default-state-bg : #fff;
$default-state-dark-bg : #f5f5f5;

$separator-border-color: #d3d6d9;

$primary-theme-font : $opt_color__primary;
$secondary-theme-font : $opt_color__secondary;
/* End of Booking Summary */

/* Business Colors */
$status-hover-font-color: #fff;
$cancelled-status: black;
$confirmed-status: yellow;
$confirmed-multiple: blue;
$provisional: red;
$warning: purple;
$tentative: brown;
$provisional-multiple:grey;
/* End of Business Colors */


/* Floating Action Buttons */
$fab-cancel-state : red;
$fab-payment-state : red;
$fab-task-state : red;
$fab-refund-state : red;
$fab-invoice-state : red;
$fab-toggle-bg: red;
/* End of Floating Action Buttons */
