


.admin-panel-import-wrapper{
     
//Step 1
.upload-step-wrapper{
    background-color: #f5f5f5;
    padding:10px;
    .download-container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 10px;
        min-height: 100px;
        border-radius: 5px;
        button{
            .mat-button-wrapper{
                display: flex;
                justify-content: center;
                i{
                    margin-right: 5px;
                }
            }
        }
        
    }
    .upload-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        padding: 10px;
        min-height: 100px;
        border: 1px dotted #909cac;
        border-radius: 5px;
        i{
            color: #91a0ad;
            margin-bottom: 5px;
        }
        a{
            cursor: pointer;
        }
    }
}
//Step 2
    .upload-status-message{
        display: flex;
        justify-content: center;
        align-items: center;
        &.alert-success {
            color: #155724 !important;
            background-color: #d4edda !important;
            border-color: #c3e6cb !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.alert-danger{
            color: #f5766c!important;
            background-color: #f8d7da !important;
            border-color: #f5c6cb !important;
            .icon-circle{
                border: 1px solid #f5766c;
            }
        }
        &.alert-warning{
            background-color: #f39c1224 !important;
            color: #f39c12 !important;
            border: 0;
            .icon-circle{
                border: 1px solid #f39c12;
            }
        }
        &.alert{
            margin-top: 20px;
        }
        >.opt_flex--container{
            display: flex;
            align-items: center;
        }
        .icon-circle{
            border: 1px solid green;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            height: 25px;
            width: 25px;
            i{
                font-size: 17px;
            }
        }
    }
    .upload-step-checkbox{
        padding: 15px;
        border: 1px dashed #909cac;
        border-width: 1px;
        //border-radius: 5px;
        margin-bottom: 20px;
        background-color: #fff;
    }
    .validation-section{
        padding: 20px;
        background-color: #f5f5f5;
        margin-top: 20px;
        .validate-btn{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .upload-step-progressbar{
            display: flex;
            margin: 20px 0px;
            flex-direction: column;
            align-items: center;
            .mat-progress-bar{
                width: 70%;
                height:10px;
                border-radius: 5px;
            }
            .progress-status-txt{
                margin-top: 10px;
            }
        }
        .cancel-validation-btn{
            display: flex;
            justify-content: center;
        }
        .info-label{
            margin-bottom: 5px;
        }
        .validation-note{
            display: flex;
            align-items: center;
            //justify-content: center;
            color: #3F51B5;
            margin-bottom: 10px;
        }
    }
//Step 2/2
.validate-section-two, .import-step-wrapper{
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 10px;
    .document-name{
        background-color: #fff;
        padding: 10px;
        margin-bottom: 10px;
    }
    .document-information-section{
        background-color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        .row{
            height: 25px;
            .doc-label{
                //text-align: right;
            }
        }
    }
    .button-wrapper{
        text-align: right;
    }
}
//Step 3
.import-step-wrapper{
    .upload-step-progressbar{
        display: flex;
        margin: 20px 0px;
        flex-direction: column;
        align-items: center;
        .mat-progress-bar{
            width: 70%;
            height:10px;
            border-radius: 5px;
        }
        .progress-status-txt{
            margin-top: 10px;
        }
    }
    .start-validation-btn{
        margin:10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .validation-note{
        display: flex;
        align-items: center;
        //justify-content: center;
        color: #3F51B5;
        margin-top: 20px;
        padding: 15px;
        border: 1px dashed #909cac;
        border-width: 1px;
        margin-bottom: 20px;
        background-color: #fff;
    }
    .cancel-validation-btn{
        display: flex;
        justify-content: center;
    }
}
.error-text{
    color: #f5766c;
}
}

